<div class="flex justify-center w-full py-12">
  <div class="flex flex-col max-w-[1197px] w-full gap-4">
    <div class="flex w-fit">
      <dp-return-link
        [route]="'/city-staff/home'"
        [text]="'Back to Petition List'"
      ></dp-return-link>
    </div>

    <div class="flex flex-col-reverse md:flex-row justify-center gap-6 mt-4">
      <div class="flex flex-col gap-5 max-w-[791px] w-full">
        <dp-petition-view
          [data]="resultData"
          [showStatus]="true"
        ></dp-petition-view>
      </div>
      <div class="flex flex-col max-w-[386px] w-full h-fit gap-[11px]">
        <dp-current-result-city-staff
          [data]="resultData"
        ></dp-current-result-city-staff>
        <ng-container [ngSwitch]="petition?.status">
          <ng-container class="flex" *ngSwitchCase="'NEW'">
            <dp-new-box></dp-new-box>
          </ng-container>
          <ng-container class="flex" *ngSwitchCase="'QUALIFIED'">
            <dp-cualified-box [showDownloadPacket]="true"></dp-cualified-box>
          </ng-container>
          <ng-container class="flex" *ngSwitchCase="'CANCELED'">
            <dp-cualified-box></dp-cualified-box>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</div>
