<form
  [formGroup]="formGroup"
  class="w-full grid grid-cols-1 gap-1 hide-mat-error"
>
  <mat-form-field class="border border-[#D7D7D7] rounded-lg">
    <mat-label>{{ name }}</mat-label>
    <input
      type="text"
      matInput
      formControlName="keyword"
      [disabled]="disabled"
    />
    <button
      type="button"
      matPrefix
      mat-icon-button
      [disabled]="disabled"
      class="flex justify-center items-center w-full h-full"
      (click)="sendFilter()"
    >
      <mat-icon svgIcon="custom_icons:search"></mat-icon>
    </button>
  </mat-form-field>
</form>
