<div class="w-full flex flex-col py-12 gap-6">
  <div class="flex justify-center w-full">
    <h2 class="font-extrabold leading-[30px]">Create a petition</h2>
  </div>
  <div class="flex justify-center w-full">
    <dp-step-indicator [step]="currentStep"></dp-step-indicator>
  </div>

  <div class="flex justify-center w-full">
    <ng-container [ngSwitch]="currentStep">
      <dp-select-type-petition
        (cancelEvent)="cancel()"
        (submitEvent)="submitType($event)"
        *ngSwitchCase="'type'"
      ></dp-select-type-petition>
      <dp-new-petition-issue
        (cancelEvent)="cancel()"
        (submitEvent)="submitIssue($event)"
        *ngSwitchCase="'issue'"
      ></dp-new-petition-issue>
      <dp-result-petition
        [data]="dataResponseIssue"
        *ngSwitchCase="'result'"
      ></dp-result-petition>
      <!--
    <app-shared-step-1 (back)="doBack(currentStep)" (next)="doNext(currentStep, $event)" *ngSwitchCase="1" />
    <app-issue-step-2 (back)="doBack(currentStep)" (next)="doNext(currentStep, $event)" *ngSwitchCase="21" />
    <app-candidate-step-2 (back)="doBack(currentStep)" (next)="doNext(currentStep, $event)" *ngSwitchCase="22" />
    <app-shared-step-3 (back)="doBack(currentStep)" (next)="doNext(currentStep, $event)" *ngSwitchDefault />
    -->
    </ng-container>
  </div>
</div>
