<app-header></app-header>

<div
  *ngIf="showDemo"
  class="absolute top-4 right-4 grid grid-cols-2 gap-2 justify-center items-center z-50"
>
  <button mat-flat-button color="primary" [matMenuTriggerFor]="menu">
    Demo
  </button>
  <mat-menu #menu="matMenu">
    <a mat-menu-item [routerLink]="'/example'">Example</a>
    <a mat-menu-item [routerLink]="'/city-staff/home'">City Staff Home</a>
    <a mat-menu-item [routerLink]="'/sign-up'">Sing up Committee</a>
    <a mat-menu-item [routerLink]="'/login'">Login</a>
    <a mat-menu-item [routerLink]="'/committee/account-settings'"
      >Committee Account Setings</a
    >
  </mat-menu>
</div>

<mat-drawer-container>
  <mat-drawer #drawer class="w-64" mode="side" [opened]="showMenu">
    <dp-side-menu></dp-side-menu>
  </mat-drawer>

  <div class="pt-6 px-6 lg:px-30 content-height">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
