<app-header></app-header>

<div
  *ngIf="showDemo"
  class="absolute top-4 right-4 grid grid-cols-2 gap-2 justify-center items-center z-50"
>
  <a mat-flat-button color="primary" [routerLink]="'/example'">Example</a>
  <a mat-flat-button color="primary" [routerLink]="'/city-staff/home'"
    >City Staff</a
  >
</div>

<mat-drawer-container>
  <mat-drawer #drawer class="w-64" mode="side" [opened]="showMenu">
    <dp-side-menu></dp-side-menu>
  </mat-drawer>

  <div class="pt-6 px-6 lg:px-30 content-height">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
