<app-header></app-header>
<!--
  <div
  *ngIf="showDemo"
  class="absolute bottom-4 right-4 grid grid-cols-2 gap-2 justify-center items-center z-50"
>
  <button mat-flat-button color="primary" [matMenuTriggerFor]="menu">
    Demo
  </button>
  <mat-menu #menu="matMenu">
    <a mat-menu-item [routerLink]="'/example'">Example</a>
    <a mat-menu-item [routerLink]="'/city-staff/home'">City Staff Home</a>
    <a mat-menu-item [routerLink]="'/auth/sign-up'">Sing up Committee</a>
    <a mat-menu-item [routerLink]="'/auth/login'">Login</a>
    <a mat-menu-item [routerLink]="'/committee/account-settings'"
      >Committee Account Setings</a
    >
    <a mat-menu-item [routerLink]="'/committee/new-petition'">New Petition </a>
  </mat-menu>
</div>
-->

<mat-drawer-container
  class="absolute top-25 h-[calc(100vh-100px)] w-full overflow-y-auto"
>
  <mat-drawer
    #drawer
    class="max-w-[60px] md:max-w-[256px] w-full"
    mode="side"
    [opened]="showMenu"
  >
    <dp-side-menu></dp-side-menu>
  </mat-drawer>

  <mat-drawer-content [class]="currentStyle">
    <div class="w-full h-full"><router-outlet></router-outlet></div>
  </mat-drawer-content>
</mat-drawer-container>
