<div class="flex justify-center w-full">
  <form
    [formGroup]="formGroup"
    (ngSubmit)="submit()"
    class="flex flex-col w-full gap-1"
  >
    <dp-basic-card class="max-w-[562px] w-full gap-6">
      <div class="w-full flex flex-col gap-6">
        <dp-error-msg
          *ngIf="!(loading$ | async) && (error$ | async) as error"
          [error]="error"
        >
        </dp-error-msg>
        <dp-loading-bar *ngIf="loading$ | async"></dp-loading-bar>
        <mat-form-field>
          <mat-label>Petition Title</mat-label>
          <input type="text" matInput formControlName="title" />
          <mat-error *ngIf="this.formGroup.get('title')?.errors?.['required']">
            <dp-input-error
              [message]="'Petition Title is required'"
            ></dp-input-error>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Petition Text</mat-label>
          <textarea matInput formControlName="text"></textarea>
          <mat-error *ngIf="this.formGroup.get('text')?.errors?.['required']">
            <dp-input-error
              [message]="'Petition Text is required'"
            ></dp-input-error>
          </mat-error>
        </mat-form-field>
      </div>
    </dp-basic-card>
    <div class="flex justify-end w-full gap-[15px]">
      <button type="button" mat-button color="primary" (click)="cancel()">
        Cancel
      </button>
      <button type="submit" mat-flat-button color="primary" cdkFocusInitial>
        Submit
      </button>
    </div>
  </form>
</div>
