<div class="flex w-full justify-center">
  <div class="flex flex-col max-w-[550px] w-full">
    <div class="w-full flex flex-col py-12 gap-6">
      <dp-error-msg
        *ngIf="!(loading$ | async) && (error$ | async) as error"
        [error]="error"
      >
      </dp-error-msg>
      <dp-loading-bar *ngIf="loading$ | async"></dp-loading-bar>
      <ng-container *ngIf="(success$ | async) && !result">
        <dp-return-link
          [route]="'/committee/home/' + id"
          [text]="'Back to Petition'"
        ></dp-return-link>
        <h2 class="mt-[18px] leading-[30px] font-extrabold">Edit Petition</h2>
      </ng-container>

      <ng-container *ngIf="result">
        <div class="w-full flex flex-col">
          <div class="flex justify-center w-full">
            <h3 class="leading-7 font-extrabold">
              Your petition has been successfully resubmitted!
            </h3>
          </div>
          <div class="flex justify-center w-full">
            <mat-icon
              class="text-green-500 w-[26.67px] h-[26.67px]"
              [svgIcon]="'custom_icons:like'"
            ></mat-icon>
          </div>
        </div>
      </ng-container>

      <div class="flex justify-center w-full"></div>

      <div
        class="flex justify-center w-full"
        *ngIf="success$ | async as resultData"
      >
        <dp-edit-petition-candidate
          class="w-full"
          [formData]="resultData"
          (_cancelEvent)="cancel()"
          (_submitEvent)="submitCandidate($event)"
          *ngIf="resultData.dataCandidate && !result"
        >
        </dp-edit-petition-candidate>
        <dp-edit-petition-issue
          class="w-full"
          [formData]="resultData"
          (_cancelEvent)="cancel()"
          (_submitEvent)="submitIssue($event)"
          *ngIf="resultData.dataIssue && !result"
        >
        </dp-edit-petition-issue>

        <dp-edit-result-petition
          class="w-full"
          [data]="dataResponse"
          *ngIf="result"
        >
        </dp-edit-result-petition>
      </div>
    </div>
  </div>
</div>
