<div class="flex w-full justify-center">
  <div class="flex flex-col w-[550px]">
    <div class="w-full flex flex-col py-12 gap-6">
      <dp-return-link
        [route]="'/example'"
        [text]="'Back to Petition'"
      ></dp-return-link>

      <h2 class="mt-[18px] leading-[30px] font-extrabold">Edit Petition</h2>
      <div class="flex justify-center w-full"></div>

      <div class="flex justify-center w-full">
        <ng-container [ngSwitch]="currentStep$ | async">
          <dp-edit-petition-candidate
            (_cancelEvent)="cancel()"
            (_submitEvent)="submitCandidate($event)"
            *ngSwitchCase="'candidate'"
          >
          </dp-edit-petition-candidate>
        </ng-container>
      </div>
    </div>
  </div>
</div>
