<table mat-table [dataSource]="dataSource" [class]="tableStyle">
  <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

  <!-- Signer Name Column -->
  <ng-container matColumnDef="check">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <mat-checkbox
        color="primary"
        [checked]="element.selected"
        (change)="event(element)"
      ></mat-checkbox>
    </td>
  </ng-container>

  <!-- Signer Name Column -->
  <ng-container matColumnDef="signer_name">
    <th mat-header-cell *matHeaderCellDef>Signer Name</th>
    <td mat-cell *matCellDef="let element">
      {{ element.signer_name }}
    </td>
  </ng-container>

  <!-- Signer Date Column -->
  <ng-container matColumnDef="signer_date">
    <th mat-header-cell *matHeaderCellDef>Signer Date</th>
    <td mat-cell *matCellDef="let element">
      {{ element.signer_date }}
    </td>
  </ng-container>

  <!-- address Column -->
  <ng-container matColumnDef="address">
    <th mat-header-cell *matHeaderCellDef>Address</th>
    <td mat-cell *matCellDef="let element">
      {{ element.address }}
    </td>
  </ng-container>

  <!-- email Column -->
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef>Email</th>
    <td mat-cell *matCellDef="let element">
      {{ element.email }}
    </td>
  </ng-container>

  <!-- registered Column -->
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef>Status</th>
    <td mat-cell *matCellDef="let element">
      {{ element.registered }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
