<dp-basic-modal (sendEvent)="submit()">
  <span modal-title>Invite People To Your Organization</span>
  <span modal-body class="w-full">
    <form [formGroup]="formGroup" class="w-full grid grid-cols-1 gap-1">
      <dp-loading-bar *ngIf="loading$ | async"></dp-loading-bar>
      <dp-error-msg
        *ngIf="!(loading$ | async) && (error$ | async) as error"
        [error]="error"
      >
      </dp-error-msg>

      <mat-form-field>
        <mat-label>Email</mat-label>
        <input type="text" matInput formControlName="email" />
        <mat-error *ngIf="this.formGroup.get('email')?.errors?.['required']">
          <dp-input-error [message]="'Email is required'"></dp-input-error>
        </mat-error>
        <mat-error *ngIf="this.formGroup.get('email')?.errors?.['email']">
          <dp-input-error [message]="'Email is incorrect'"></dp-input-error>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Member Status</mat-label>
        <mat-select formControlName="permissions">
          <mat-option>--</mat-option>
          <mat-option value="STAFF"
            ><p>
              <span class="font-bold leading-5">Member</span> - Can approve and
              deny petitions, signatures
            </p>
            <p></p
          ></mat-option>
          <mat-option value="ADMIN"
            ><p>
              <span class="font-bold leading-5">Admin</span> - Has Full access
              and can set permissions
            </p>
            <p></p
          ></mat-option>
          <mat-option value="GUEST"
            ><p>
              <span class="font-bold leading-5">Guest</span> - Has limited
              access and can only view content
            </p>
            <p></p
          ></mat-option>
        </mat-select>
        <mat-error
          *ngIf="this.formGroup.get('permissions')?.errors?.['required']"
        >
          <dp-input-error
            [message]="'Member Status is required'"
          ></dp-input-error>
        </mat-error>
      </mat-form-field>
    </form>
  </span>
  <ng-container modal-footer>Proceed</ng-container>
</dp-basic-modal>
