<mat-nav-list
  class="flex flex-col pt-16"
  *ngIf="activatedRoute$ | async as route"
>
  <a
    mat-list-item
    [routerLink]="[item.route]"
    *ngFor="let item of items"
    class="text-gray-600"
  >
    <span
      [ngClass]="{
        'text-primary-500': route.startsWith(item.route)
      }"
      class="flex flex-row ml-8"
      ><mat-icon [svgIcon]="item.icon"></mat-icon>
      <span class="font-mulish font-extrabold text-base ml-5">
        {{ item.text }}
      </span></span
    >
  </a>
</mat-nav-list>
