<div class="flex justify-center">
  <div class="flex flex-col max-w-[848px] w-full">
    <div class="mt-8">
      <dp-return-link
        [route]="'/committee/home'"
        [text]="'Back to Home'"
      ></dp-return-link>
    </div>
    <h2 class="mt-6 leading-[30px] font-extrabold">Account Settings</h2>
    <p class="mt-[22px]">
      Edit or change your account information and password.
    </p>
    <dp-basic-card class="mt-8" *ngIf="currentUser$ | async as user">
      <div class="w-full flex flex-col gap-11">
        <div
          class="w-full flex flex-col md:flex-row justify-between items-center"
        >
          <p class="font-bold leading-5 md:min-w-[150px]">Email</p>
          <p class="max-w-full">{{ user.attributes.email }}</p>
          <button mat-flat-button color="primary" (click)="openDialogEmail()">
            Edit
          </button>
        </div>
        <div
          class="w-full flex flex-col md:flex-row justify-between items-center"
        >
          <p class="font-bold leading-5 md:min-w-[150px]">Password</p>
          <p class="max-w-full">******************</p>
          <button
            mat-flat-button
            color="primary"
            (click)="openDialogPassword()"
          >
            Edit
          </button>
        </div>
        <div
          class="w-full flex flex-col md:flex-row justify-between items-center"
        >
          <p class="font-bold leading-5 md:min-w-[150px]">
            Contact information
          </p>
          <p class="max-w-full">
            {{ user.attributes.given_name + " " + user.attributes.family_name }}
          </p>
          <button
            mat-flat-button
            color="primary"
            (click)="openDialogPerosnalDetails()"
          >
            Edit
          </button>
        </div>
      </div>
    </dp-basic-card>
  </div>
</div>
