<dp-basic-modal (sendEvent)="submit()">
  <ng-container modal-title>Set Qualification Requirements</ng-container>
  <ng-container modal-body class="w-full">
    <form [formGroup]="formGroup" class="flex flex-col w-full gap-1">
      <dp-error-msg
        *ngIf="!(loading$ | async) && (error$ | async) as error"
        [error]="error"
      >
      </dp-error-msg>
      <dp-loading-bar *ngIf="loading$ | async"></dp-loading-bar>
      <mat-form-field class="w-full">
        <mat-label>Set Deadline</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="deadline" />
        <mat-datepicker-toggle matPrefix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>

        <mat-error *ngIf="formGroup.get('deadline')!.getError('required')">
          <dp-input-error [message]="'Deadline is required'"></dp-input-error>
        </mat-error>

        <mat-error *ngIf="formGroup.get('deadline')!.getError('greaterThan')">
          <dp-input-error
            [message]="'Deadline cannot be a date in the past'"
          ></dp-input-error>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="w-full">
        <mat-label>Enter number of Signatures Required</mat-label>
        <input
          type="text"
          matInput
          formControlName="requiredSignatures"
          mask="separator"
        />
        <mat-error
          *ngIf="this.formGroup.get('requiredSignatures')?.errors?.['required']"
        >
          <dp-input-error
            [message]="'Number of signatures is required'"
          ></dp-input-error>
        </mat-error>
      </mat-form-field>
    </form>
  </ng-container>
  <ng-container modal-footer>Continue</ng-container>
</dp-basic-modal>
