<div class="flex justify-center w-full py-12">
  <div class="flex flex-col max-w-[1197px] w-full gap-4">
    <h2 class="leading-7 font-extrabold">Welcome</h2>
    <p class="text-[#5C5C5C]">
      View your submitted petitions or create a new petition to submit to the
      city.
    </p>
    <div class="flex flex-col-reverse md:flex-row justify-center gap-7 mt-4">
      <div
        class="flex flex-col gap-5 rounded-[18px] py-6 px-4 bg-[#EDEDED] max-w-[892px] w-full"
      >
        <h3 class="flex leading-7 font-extrabold">Your Petitions</h3>

        <dp-error-msg
          *ngIf="!(loading$ | async) && (error$ | async) as error"
          [error]="error"
        >
        </dp-error-msg>
        <dp-loading-bar
          *ngIf="(loading$ | async) && loadingUp"
        ></dp-loading-bar>
        <ng-container *ngIf="items">
          <dp-petition-card
            *ngFor="let item of items"
            [data]="item"
            [showStatus]="true"
            [showType]="true"
            [showSignature]="true"
            [disabled]="!!(loading$ | async)"
            [basicRoute]="'/committee/home/'"
          ></dp-petition-card>
          <div
            class="flex justify-center w-full"
            *ngIf="items.length === 0 && !(loading$ | async)"
          >
            <h3 class="leading-7 font-extrabold">
              You still have no petitions
            </h3>
          </div>

          <dp-loading-bar
            *ngIf="(loading$ | async) && !loadingUp"
          ></dp-loading-bar>
          <button
            mat-button
            color="primary"
            (click)="pageNumber()"
            [disabled]="!!(loading$ | async)"
            *ngIf="cursor"
          >
            See More
          </button>
        </ng-container>
      </div>
      <div
        class="flex flex-col gap-4 rounded-xl p-4 bg-[#FFFFFF] border border-[#D7D7D7] shadow-sm md:max-w-[277px] w-full h-28"
      >
        <h4 class="flex justify-center leading-5 font-bold w-full">
          Create New Petition
        </h4>
        <button
          type="submit"
          mat-flat-button
          color="primary"
          cdkFocusInitial
          [routerLink]="'/committee/new-petition'"
        >
          Create Now
        </button>
      </div>
    </div>
  </div>
</div>
