<div class="w-full h-full flex flex-col gap-5 p-3">
  <section>
    <div class="example-label">Basic</div>
    <div class="example-button-row flex gap-4">
      <button mat-button>Basic</button>
      <button mat-button color="primary">Primary</button>
      <button mat-button color="accent">Accent</button>
      <button mat-button color="warn">Warn</button>
      <button mat-button disabled>Disabled</button>
      <a mat-button href="https://www.google.com/" target="_blank">Link</a>
    </div>
  </section>
  <mat-divider></mat-divider>
  <section>
    <div class="example-label">Raised</div>
    <div class="example-button-row flex gap-4">
      <button mat-raised-button>Basic</button>
      <button mat-raised-button color="primary">Primary</button>
      <button mat-raised-button color="accent">Accent</button>
      <button mat-raised-button color="warn">Warn</button>
      <button mat-raised-button disabled>Disabled</button>
      <a mat-raised-button href="https://www.google.com/" target="_blank"
        >Link</a
      >
    </div>
  </section>
  <mat-divider></mat-divider>
  <section>
    <div class="example-label">Stroked</div>
    <div class="example-button-row flex gap-4">
      <button mat-stroked-button>Basic</button>
      <button mat-stroked-button color="primary">Primary</button>
      <button mat-stroked-button color="accent">Accent</button>
      <button mat-stroked-button color="warn">Warn</button>
      <button mat-stroked-button disabled>Disabled</button>
      <a mat-stroked-button href="https://www.google.com/" target="_blank"
        >Link</a
      >
    </div>
  </section>
  <mat-divider></mat-divider>
  <section>
    <div class="example-label">Flat</div>
    <div class="example-button-row flex gap-4">
      <button mat-flat-button>Basic</button>
      <button mat-flat-button color="primary">Primary</button>
      <button mat-flat-button color="accent">Accent</button>
      <button mat-flat-button color="warn">Warn</button>
      <button mat-flat-button disabled>Disabled</button>
      <a mat-flat-button href="https://www.google.com/" target="_blank">Link</a>
    </div>
  </section>
  <mat-divider></mat-divider>
  <section>
    <div class="example-label">Icon</div>
    <div class="example-button-row">
      <div class="example-flex-container">
        <button
          mat-icon-button
          aria-label="Example icon button with a vertical three dot icon"
        >
          <mat-icon>more_vert</mat-icon>
        </button>
        <button
          mat-icon-button
          color="primary"
          aria-label="Example icon button with a home icon"
        >
          <mat-icon>home</mat-icon>
        </button>
        <button
          mat-icon-button
          color="accent"
          aria-label="Example icon button with a menu icon"
        >
          <mat-icon>menu</mat-icon>
        </button>
        <button
          mat-icon-button
          color="warn"
          aria-label="Example icon button with a heart icon"
        >
          <mat-icon>favorite</mat-icon>
        </button>
        <button
          mat-icon-button
          disabled
          aria-label="Example icon button with a open in new tab icon"
        >
          <mat-icon>open_in_new</mat-icon>
        </button>
      </div>
    </div>
  </section>
  <mat-divider></mat-divider>
  <section>
    <div class="example-label">FAB</div>
    <div class="example-button-row">
      <div class="example-flex-container">
        <div class="example-button-container">
          <button
            mat-fab
            color="primary"
            aria-label="Example icon button with a delete icon"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
        <div class="example-button-container">
          <button
            mat-fab
            color="accent"
            aria-label="Example icon button with a bookmark icon"
          >
            <mat-icon>bookmark</mat-icon>
          </button>
        </div>
        <div class="example-button-container">
          <button
            mat-fab
            color="warn"
            aria-label="Example icon button with a home icon"
          >
            <mat-icon>home</mat-icon>
          </button>
        </div>
        <div class="example-button-container">
          <button
            mat-fab
            disabled
            aria-label="Example icon button with a heart icon"
          >
            <mat-icon>favorite</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </section>
  <mat-divider></mat-divider>
  <section>
    <div class="example-label">Mini FAB</div>
    <div class="example-button-row">
      <div class="example-flex-container">
        <div class="example-button-container">
          <button
            mat-mini-fab
            color="primary"
            aria-label="Example icon button with a menu icon"
          >
            <mat-icon>menu</mat-icon>
          </button>
        </div>
        <div class="example-button-container">
          <button
            mat-mini-fab
            color="accent"
            aria-label="Example icon button with a plus one icon"
          >
            <mat-icon>plus_one</mat-icon>
          </button>
        </div>
        <div class="example-button-container">
          <button
            mat-mini-fab
            color="warn"
            aria-label="Example icon button with a filter list icon"
          >
            <mat-icon>filter_list</mat-icon>
          </button>
        </div>
        <div class="example-button-container">
          <button
            mat-mini-fab
            disabled
            aria-label="Example icon button with a home icon"
          >
            <mat-icon>home</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </section>
  <section class="my-4">
    <h1>h1: font-size: 2rem line-height: 2.5rem</h1>
    <h2>h2: font-size: 1.5rem line-height: 2rem</h2>
    <h3>h3: font-size: 1.25rem line-height: 1.75rem</h3>
    <h4>h4: font-size: 1rem line-height: 1.5rem</h4>
    <h5>h5: font-size: 0.875rem line-height: 1.125rem</h5>
    <h6>h6: font-size: 0.75rem line-height: 1rem</h6>
  </section>
  <section>
    <p>
      P: font-size: 1rem line-height: 1.5rem font-weight: 400 <br />
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi dolor
      voluptatibus soluta veritatis? Quo maxime voluptate labore? Odit est,
      velit explicabo exercitationem nam temporibus similique atque neque esse
      numquam officiis?
    </p>
  </section>
  <section>
    <h2 class="my-4">App Icons</h2>
    <div class="flex flex-wrap gap-4">
      <div class="grid grid-cols-1 gap-2 justify-items-center">
        <mat-icon [svgIcon]="'custom_icons:sliders'"></mat-icon>
        <span class="text-xs">custom_icons:sliders</span>
      </div>
      <div class="grid grid-cols-1 gap-2 justify-items-center">
        <mat-icon [svgIcon]="'custom_icons:home'"></mat-icon>
        <span class="text-xs">custom_icons:home</span>
      </div>
    </div>
  </section>
  <section class="w-full">
    <div class="flex flex-row items-center">
      <h2 class="my-4 mr-4">Table styles</h2>
      <mat-slide-toggle [(ngModel)]="tableBorderless" color="primary"
        >Borderless</mat-slide-toggle
      >
    </div>
    <div class="px-6">
      <table
        mat-table
        [dataSource]="dataSource"
        [ngClass]="{ borderless: tableBorderless }"
      >
        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Signer Name Column -->
        <ng-container matColumnDef="check">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <mat-checkbox color="primary"></mat-checkbox>
          </td>
        </ng-container>

        <!-- Signer Name Column -->
        <ng-container matColumnDef="signer_name">
          <th mat-header-cell *matHeaderCellDef>Signer Name</th>
          <td mat-cell *matCellDef="let element">
            {{ element.signer_name }}
          </td>
        </ng-container>

        <!-- Signer Date Column -->
        <ng-container matColumnDef="signer_date">
          <th mat-header-cell *matHeaderCellDef>Signer Date</th>
          <td mat-cell *matCellDef="let element">
            {{ element.signer_date }}
          </td>
        </ng-container>

        <!-- address Column -->
        <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef>Address</th>
          <td mat-cell *matCellDef="let element">
            {{ element.address }}
          </td>
        </ng-container>

        <!-- email Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef>Email</th>
          <td mat-cell *matCellDef="let element">
            {{ element.email }}
          </td>
        </ng-container>

        <!-- registered Column -->
        <ng-container matColumnDef="registered">
          <th mat-header-cell *matHeaderCellDef>Registered</th>
          <td mat-cell *matCellDef="let element">
            {{ element.registered }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          (click)="clickedRows.add(row)"
          [class.demo-row-is-clicked]="clickedRows.has(row)"
          *matRowDef="let row; columns: displayedColumns"
        ></tr>
      </table>
    </div>
  </section>
  <section class="my-4"></section>
  <section class="my-5">
    <button mat-raised-button (click)="openDialog()">
      Launch example dialog
    </button>
  </section>
  <!--FORM-->
  <section>
    <form>
      <table class="w-full" cellspacing="0">
        <tr>
          <td class="p-4">
            <mat-form-field [floatLabel]="'always'" appearance="fill">
              <mat-label>Email</mat-label>
              <input
                type="email"
                matInput
                [formControl]="emailFormControl"
                [errorStateMatcher]="matcher"
              />
            </mat-form-field>
          </td>
          <td class="p-4">
            <mat-form-field [floatLabel]="'always'" appearance="fill">
              <mat-label>Long Last Name That Will Be Truncated</mat-label>
              <input matInput />
            </mat-form-field>
          </td>
        </tr>
      </table>

      <p class="p-4">
        <mat-form-field [floatLabel]="'always'" appearance="fill">
          <mat-label>Address</mat-label>
          <textarea matInput placeholder="Ex. 100 Main St">
1600 Amphitheatre Pkwy</textarea
          >
        </mat-form-field>
      </p>
    </form>
  </section>
</div>
