html,
body {
  @apply w-full font-mulish;
}

::-ms-reveal {
  display: none;
}

.content-height {
  min-height: calc(100vh - 6.25rem);
}

h1 {
  @apply text-4xl  text-black;
}

h2 {
  @apply text-2xl text-black;
}

h3 {
  @apply text-xl leading-5  text-black;
}

h4 {
  @apply text-base  text-black;
}

h5 {
  @apply text-sm leading-4.5 text-black;
}

h6 {
  @apply text-xs leading-3.5 text-black;
}

p {
  @apply text-base font-normal text-black;
}

// .mat-button {
//   @apply rounded-xl py-3 px-8;
// }

/* Buttons style overrides */

.mat-mdc-button.mat-primary {
  @apply bg-primary-50 text-primary-500 #{'!important'};
}
.mat-mdc-raised-button.mat-primary,
.mat-mdc-outlined-button.mat-primary,
.mat-mdc-unelevated-button.mat-primary {
  @apply bg-primary-500 text-on-primary-500 #{'!important'};
}

.mat-mdc-button.mat-accent {
  @apply bg-primary-50 text-primary-500 #{'!important'};
}
.mat-mdc-raised-button.mat-accent,
.mat-mdc-outlined-button.mat-accent,
.mat-mdc-unelevated-button.mat-accent {
  @apply bg-accent-500 text-on-primary-500 #{'!important'};
}

.mat-mdc-button.mat-warn {
  @apply bg-primary-50 text-primary-500 #{'!important'};
}
.mat-mdc-raised-button.mat-warn,
.mat-mdc-outlined-button.mat-warn,
.mat-mdc-unelevated-button.mat-warn {
  @apply bg-red-500 text-on-primary-500 #{'!important'};
}

.mat-mdc-button.mat-button-disabled {
  @apply bg-black bg-opacity-[0.12] #{'!important'};
}

//Progres bar
.mat-mdc-progress-bar,
.mdc-linear-progress__buffer-bar,
.mdc-linear-progress__buffer-dots {
  height: 10px !important;
  border-radius: 8px !important;
}

.mdc-linear-progress__primary-bar {
  .mdc-linear-progress__bar-inner {
    height: 10px !important;
    border-radius: 8px !important;
    border-top-width: 10px !important;
    border-color: var(--theme-primary-color-500);
  }
}
.mdc-linear-progress__secondary-bar {
  .mdc-linear-progress__bar-inner {
    height: 10px !important;
    border-radius: 8px !important;
    border-top-width: 10px !important;
    border-color: var(--theme-primary-color-500);
  }
}

//Chips
.mat-standard-chip {
  border: 1px;
  border-color: #6284fd;
}

.mat-chip.mat-standard-chip::after {
  background: none;
}
.mat-chip-list-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: end;
  margin: -4px;
}

//Buttons
.mat-mdc-button,
.mat-mdc-unelevated-button,
.mat-mdc-raised-button,
.mat-mdc-outlined-button,
.mat-mdc-icon-button {
  padding: 0.5rem 1.5rem !important;
  line-height: 1.5rem !important;
  border-radius: 0.5rem !important;
  letter-spacing: 0.02rem !important;
  height: 2.5rem !important;
  font-size: 14px !important;
  font-weight: 800 !important;
}

.mdc-menu-surface--open {
  background-color: white !important;
}
.mat-mdc-chip-set .mdc-evolution-chip-set__chips {
  justify-content: end !important;
}

/*
.menu-button {
  .mat-button-wrapper {
    display: flex !important;
    align-items: center;
    justify-content: center;
  }

  height: 56px !important;
  width: 56px !important;
  padding: 0px !important;
}

.menu-img {
  display: block;
}
*/
// table styles

$table-border: #d7d7d7;

.table-border-b {
  border-bottom-color: $table-border;
  @apply border-solid border-b-1;
}

.table-border-y {
  border-top-color: $table-border;
  border-bottom-color: $table-border;
  @apply border-solid border-y-1;
}

.table-border-l {
  border-left-color: $table-border;
  @apply border-solid border-l-1;
}

.table-border-r {
  border-right-color: $table-border;
  @apply border-solid border-r-1;
}

.mat-row .mat-cell {
  @apply table-border-b;
}

.borderless .mat-row .mat-cell {
  @apply border-b-transparent;
}

.mat-table {
  @apply border-separate;

  .mat-header-row {
    @apply bg-primary-50 h-13;

    .mat-header-cell {
      @apply bg-primary-50 table-border-y font-bold text-black text-xs pr-6;
    }

    .mat-header-cell:first-child {
      border-radius: 0.5rem 0 0 0;
      @apply table-border-l;
    }

    .mat-header-cell:last-child {
      border-radius: 0 0.5rem 0 0;
      @apply table-border-r;
    }
  }

  .mat-row {
    @apply h-16;

    .mat-cell {
      @apply text-black text-xs pr-6;
    }

    .mat-cell:first-child {
      @apply table-border-l;
    }

    .mat-cell:last-child {
      @apply table-border-r;
    }
  }

  .mat-row:last-child {
    .mat-cell {
      @apply table-border-b;
    }

    .mat-cell:first-child {
      border-radius: 0 0 0 0.5rem;
    }

    .mat-cell:last-child {
      border-radius: 0 0 0.5rem 0;
    }
  }
}

.mat-slide-toggle.mat-primary.mat-checked {
  .mat-slide-toggle-label {
    .mat-slide-toggle-bar {
      @apply bg-primary-200 #{'!important'};
    }
  }
}

.mat-dialog-container {
  padding: 40px !important;
  border-radius: 16px !important;
  gap: 24px;
  .mat-dialog-title {
    //typography
    font-family: "Mulish" !important;
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 18px !important;
    line-height: 24px !important;
    //display
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px !important;
    height: 32px !important;
    .mat-icon {
      height: 16px;
      width: 16px;
    }
  }
  .mat-dialog-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mat-dialog-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
    .mat-button-base {
      margin-left: 0px !important;
    }
  }
}

.mat-expansion-panel {
  .mat-expansion-panel-content {
    .mat-expansion-panel-body {
      padding: 0px;
    }
  }
}

.mat-mdc-form-field {
  max-width: 100% !important;
  .mdc-text-field,
  .mat-mdc-form-field-hint-wrapper,
  .mat-mdc-form-field-error-wrapper,
  .mat-mdc-form-field-wrapper {
    padding: 0px !important;
  }

  .mat-mdc-icon {
    width: 16px !important;
    height: 16px !important;
  }

  .mat-mdc-icon-button {
    width: auto !important;
    height: auto !important;
  }

  .mat-mdc-form-field-flex {
    @apply flex items-center border-solid border-1 rounded-lg border-transparent bg-gray-200 #{!important};
    padding: 0px 0px !important;
    min-height: 48px !important;
  }

  .mat-mdc-form-field-infix {
    padding: 6px 16px !important;
  }
  .mat-mdc-form-field-label {
    padding: 6px 16px !important;
  }

  .mat-mdc-form-field-prefix {
    width: 50px;
    height: 48px;
    border-radius: 8px 0px 0px 8px;
    background-color: #ededed;
    padding: 0px !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mat-mdc-form-field-suffix {
    height: 46px !important;
    width: 50px !important;
    .mat-mdc-focus-indicator {
      width: 100% !important;
      height: 100% !important;
      .mat-mdc-button-wrapper {
        width: 100% !important;
        height: 100% !important;
        display: flex !important;
        justify-items: right !important;
        align-items: center !important;
      }
    }
  }

  .mat-mdc-input-element {
    color: #181818 !important;
    font-size: 0.875rem /* 12px */ !important;
    line-height: 1.125rem /* 16px */ !important;
    font-weight: 400 !important;
  }

  .mat-mdc-select-value {
    color: #181818 !important;
    font-size: 0.875rem /* 12px */ !important;
    line-height: 1.125rem /* 16px */ !important;
    font-weight: 400 !important;
  }

  .mat-mdc-form-field-label {
    color: #5c5c5c !important;
    transform: translateY(-0.59375em) scale(1) !important;
    font-size: 0.75rem /* 12px */ !important;
    line-height: 1rem /* 16px */ !important;
    font-weight: 700 !important;
  }
  .mat-mdc-form-field-underline {
    display: none;
  }

  .mdc-line-ripple {
    display: none !important;
  }
  .mat-mdc-form-field-ripple {
    display: none;
  }
  .mat-mdc-form-field-required-marker {
    display: none;
  }
  .mat-mdc-form-field-subscript-wrapper {
    @apply font-mulish;
    position: relative;
    top: auto;
    padding: 0 !important;
    margin-top: 0;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;

    .mat-mdc-error,
    .mat-mdc-hint {
      display: block;
      margin-top: 4px;
    }

    .mat-mdc-hint {
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
    }
  }
}

.mat-mdc-form-field.mat-focused {
  @apply max-w-full;

  .mat-form-field-wrapper {
    padding: 0px;
  }

  .mat-mdc-icon {
    width: 16px !important;
    height: 16px !important;
  }

  .mat-mdc-icon-button {
    width: auto !important;
    height: auto !important;
  }

  .mat-mdc-form-field-flex {
    @apply flex items-center border-solid border-1 rounded-lg border-transparent bg-gray-200 #{!important};
    padding: 0px 0px !important;
    min-height: 48px !important;
  }

  .mat-mdc-form-field-infix {
    padding: 6px 16px !important;
  }
  .mat-mdc-form-field-label {
    padding: 6px 16px !important;
  }

  .mat-mdc-form-field-prefix {
    width: 50px;
    height: 48px;
    border-radius: 8px 0px 0px 8px;
    background-color: #ededed;
    padding: 0px !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mat-mdc-form-field-suffix {
    height: 46px !important;
    width: 50px !important;
    .mat-mdc-focus-indicator {
      width: 100% !important;
      height: 100% !important;
      .mat-mdc-button-wrapper {
        width: 100% !important;
        height: 100% !important;
        display: flex !important;
        justify-items: right !important;
        align-items: center !important;
      }
    }
  }

  .mat-mdc-input-element {
    color: #181818 !important;
    font-size: 0.875rem /* 12px */ !important;
    line-height: 1.125rem /* 16px */ !important;
    font-weight: 400 !important;
  }

  .mat-mdc-select-value {
    color: #181818 !important;
    font-size: 0.875rem /* 12px */ !important;
    line-height: 1.125rem /* 16px */ !important;
    font-weight: 400 !important;
  }

  .mat-mdc-form-field-label {
    color: #5c5c5c !important;
    transform: translateY(-0.59375em) scale(1) !important;
    font-size: 0.75rem /* 12px */ !important;
    line-height: 1rem /* 16px */ !important;
    font-weight: 700 !important;
  }
  .mat-mdc-form-field-underline {
    display: none;
  }
  .mat-mdc-form-field-ripple {
    display: none;
  }
  .mat-mdc-form-field-required-marker {
    display: none;
  }
  .mat-mdc-form-field-subscript-wrapper {
    @apply font-mulish;
    position: relative;
    top: auto;
    padding: 0 !important;
    margin-top: 0;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;

    .mat-mdc-error,
    .mat-mdc-hint {
      display: block;
      margin-top: 4px;
    }

    .mat-mdc-hint {
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
    }
  }
}

.mat-mdc-form-field-invalid {
  @apply max-w-full;

  .mat-mdc-form-field-wrapper {
    padding: 0px;
  }

  .mat-mdc-icon {
    width: 16px !important;
    height: 16px !important;
  }

  .mat-mdc-icon-button {
    width: auto !important;
    height: auto !important;
  }

  .mat-mdc-form-field-flex {
    @apply flex items-center border-solid border-1 rounded-lg border-transparent bg-gray-200 #{!important};
    padding: 0px 0px !important;
    min-height: 48px !important;
  }

  .mat-mdc-form-field-infix {
    padding: 6px 16px !important;
  }
  .mat-mdc-form-field-label {
    padding: 6px 16px !important;
  }

  .mat-mdc-form-field-prefix {
    width: 50px;
    height: 48px;
    border-radius: 8px 0px 0px 8px;
    background-color: #ededed;
    padding: 0px !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mat-mdc-form-field-suffix {
    height: 46px !important;
    width: 50px !important;
    .mat-mdc-focus-indicator {
      width: 100% !important;
      height: 100% !important;
      .mat-mdc-button-wrapper {
        width: 100% !important;
        height: 100% !important;
        display: flex !important;
        justify-items: right !important;
        align-items: center !important;
      }
    }
  }

  .mat-mdc-input-element {
    color: #181818 !important;
    font-size: 0.875rem /* 12px */ !important;
    line-height: 1.125rem /* 16px */ !important;
    font-weight: 400 !important;
  }

  .mat-mdc-select-value {
    color: #181818 !important;
    font-size: 0.875rem /* 12px */ !important;
    line-height: 1.125rem /* 16px */ !important;
    font-weight: 400 !important;
  }

  .mat-mdc-form-field-label {
    color: #5c5c5c !important;
    transform: translateY(-0.59375em) scale(1) !important;
    font-size: 0.75rem /* 12px */ !important;
    line-height: 1rem /* 16px */ !important;
    font-weight: 700 !important;
  }
  .mat-mdc-form-field-underline {
    display: none;
  }
  .mat-mdc-form-field-ripple {
    display: none;
  }
  .mat-mdc-form-field-required-marker {
    display: none;
  }
  .mat-mdc-form-field-subscript-wrapper {
    @apply font-mulish;
    position: relative;
    top: auto;
    padding: 0 !important;
    margin-top: 0;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;

    .mat-mdc-error,
    .mat-mdc-hint {
      display: block;
      margin-top: 4px;
    }

    .mat-mdc-hint {
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
    }
  }
}
