<div class="w-full flex justify-center">
  <div class="flex flex-col max-w-[824px] w-full">
    <h1 class="p-6 font-extrabold">Petition Portal</h1>
    <form [formGroup]="formGroup" (ngSubmit)="submit()">
      <dp-basic-card class="w-full">
        <div class="w-full flex justify-start">
          <h4 class="font-bold text-lg">Create an account</h4>
        </div>
        <dp-error-msg
          *ngIf="!(loading$ | async) && (error$ | async) as error"
          [error]="error"
        >
        </dp-error-msg>
        <dp-loading-bar *ngIf="loading$ | async"></dp-loading-bar>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-1">
          <mat-form-field>
            <mat-label>First Name</mat-label>
            <input type="text" matInput formControlName="firstName" />
            <mat-error
              *ngIf="this.formGroup.get('firstName')?.errors?.['required']"
            >
              <dp-input-error
                [message]="'First Name is required'"
              ></dp-input-error>
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Last Name</mat-label>
            <input type="text" matInput formControlName="lastName" />
            <mat-error
              *ngIf="this.formGroup.get('lastName')?.errors?.['required']"
            >
              <dp-input-error
                [message]="'Last Name is required'"
              ></dp-input-error>
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Address</mat-label>
            <input type="text" matInput formControlName="address" />
            <mat-error
              *ngIf="this.formGroup.get('address')?.errors?.['required']"
            >
              <dp-input-error
                [message]="'Address is required'"
              ></dp-input-error>
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Apt/Number</mat-label>
            <input type="text" matInput formControlName="aptNumber" />
            <mat-error
              *ngIf="this.formGroup.get('aptNumber')?.errors?.['required']"
            >
              <dp-input-error
                [message]="'Apt Number is required'"
              ></dp-input-error>
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>City</mat-label>
            <input type="text" matInput formControlName="city" />
            <mat-error *ngIf="this.formGroup.get('city')?.errors?.['required']">
              <dp-input-error [message]="'City is required'"></dp-input-error>
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>State</mat-label>
            <mat-select formControlName="state">
              <mat-option>--</mat-option>
              <mat-option *ngFor="let state of localStates" [value]="state">{{
                state.name
              }}</mat-option>
            </mat-select>
            <mat-error
              *ngIf="this.formGroup.get('state')?.errors?.['required']"
            >
              <dp-input-error [message]="'State is required'"></dp-input-error>
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Zip Code</mat-label>
            <input type="text" matInput formControlName="zipCode" />
            <mat-error
              *ngIf="this.formGroup.get('zipCode')?.errors?.['required']"
            >
              <dp-input-error
                [message]="'Zip Code is required'"
              ></dp-input-error>
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input type="text" matInput formControlName="email" />
            <mat-error
              *ngIf="this.formGroup.get('email')?.errors?.['required']"
            >
              <dp-input-error [message]="'Email is required'"></dp-input-error>
            </mat-error>
            <mat-error *ngIf="this.formGroup.get('email')?.errors?.['email']">
              <dp-input-error [message]="'Email is incorrect'"></dp-input-error>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Password</mat-label>
            <input
              matInput
              [type]="hidePassword ? 'password' : 'text'"
              formControlName="password"
            />

            <mat-error
              *ngIf="this.formGroup.get('password')?.errors?.['required']"
            >
              <dp-input-error
                [message]="'Password is required'"
              ></dp-input-error>
            </mat-error>
            <button
              type="button"
              matSuffix
              mat-icon-button
              (click)="hidePassword = !hidePassword"
            >
              <mat-icon
                class="w-[16px] h-[16px]"
                [svgIcon]="
                  hidePassword ? 'custom_icons:edge' : 'custom_icons:no-edge'
                "
              ></mat-icon>
            </button>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Confirm Password</mat-label>
            <input
              matInput
              [type]="hidecPassword ? 'password' : 'text'"
              formControlName="cpassword"
            />

            <mat-error
              *ngIf="this.formGroup.get('cpassword')?.errors?.['required']"
            >
              <dp-input-error
                [message]="'Confirm Password is required'"
              ></dp-input-error>
            </mat-error>
            <mat-error
              *ngIf="this.formGroup.get('cpassword')?.errors?.['confirmPasswordValidator']"
            >
              <dp-input-error
                [message]="'Passwords do not match'"
              ></dp-input-error>
            </mat-error>
            <button
              type="button"
              matSuffix
              mat-icon-button
              (click)="hidecPassword = !hidecPassword"
            >
              <mat-icon
                class="w-[16px] h-[16px]"
                [svgIcon]="
                  hidecPassword ? 'custom_icons:edge' : 'custom_icons:no-edge'
                "
              ></mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div class="md:col-span-2 w-full flex justify-end">
          <button
            type="submit"
            mat-flat-button
            class="h-10 md:max-w-[157px] w-full"
            color="primary"
            [disabled]="loading$ | async"
          >
            Create Account
          </button>
        </div>
      </dp-basic-card>
    </form>
    <div class="my-6 w-full flex flex-col md:flex-row justify-center">
      <div class="w-full md:w-auto flex justify-center">
        <h4 class="font-extrabold text-base tracking-wide">
          Already have an account?
        </h4>
      </div>
      <div class="w-full md:w-auto flex justify-center">
        <a [routerLink]="'/auth/login'"
          ><h4
            class="font-extrabold text-base tracking-wide mx-3 text-primary-500"
          >
            Log In
          </h4></a
        >
      </div>
    </div>
    <div class="w-full flex flex-col md:flex-row justify-center">
      <div class="w-full md:w-auto flex justify-center">
        <h4 class="font-extrabold text-base tracking-wide">
          Already registered?
        </h4>
      </div>
      <div class="w-full md:w-auto flex justify-center">
        <a [routerLink]="'/auth/return-code-form'"
          ><h4
            class="font-extrabold text-base tracking-wide mx-3 text-primary-500"
          >
            Enter Code or Resend Code
          </h4></a
        >
      </div>
    </div>
  </div>
</div>
