<div
  class="flex w-full h-full justify-center items-center p-10"
  *ngIf="firstLoading$ | async"
>
  <dp-loading-bar [title]="'Loading'" class="w-full"></dp-loading-bar>
</div>

<div class="flex flex-row w-full h-full" *ngIf="success$ | async as themeData">
  <div
    class="flex flex-col max-w-[288px] w-full h-full bg-[#F7F7F7] border-l-1 border-r-1 border-[#D7D7D7] gap-4 py-4 px-6"
  >
    <dp-return-link
      [route]="'/city-staff/admin'"
      [text]="'Site Admin'"
    ></dp-return-link>
    <p class="font-bold text-lg leading-6">Global Designer Setting</p>
    <div class="flex flex-col w-full gap-2">
      <p class="font-bold text-sm leading-[18px]">Highlight Color</p>
      <dp-color-picker
        (eventColor)="highlightColor = $event"
        [color]="themeData.highlightColor"
      ></dp-color-picker>
    </div>

    <div class="flex flex-col w-full gap-2">
      <p class="font-bold text-sm leading-[18px]">Button Colors</p>
      <dp-color-picker
        (eventColor)="buttonColor = $event"
        [color]="themeData.buttonColor"
      ></dp-color-picker>
    </div>

    <div class="flex flex-col w-full gap-2">
      <p class="font-bold text-sm leading-[18px]">Logo</p>
      <dp-image-picker
        (eventImg)="logo = $event"
        [imageSrc]="[]"
      ></dp-image-picker>
    </div>

    <div class="flex flex-col w-full gap-2">
      <p class="font-bold text-sm leading-[18px]">Header Color</p>
      <dp-color-picker
        (eventColor)="headerColor = $event"
        [color]="themeData.headerColor"
      ></dp-color-picker>
    </div>
    <dp-error-msg
      *ngIf="!(loading$ | async) && (error$ | async) as error"
      [error]="error"
    >
    </dp-error-msg>
    <dp-loading-bar *ngIf="loading$ | async"></dp-loading-bar>
    <div class="flex flex-row justify-end pt-5">
      <button
        class="w-full md:w-auto"
        type="button"
        mat-flat-button
        color="primary"
        (click)="submit()"
        [disabled]="loading$ | async"
      >
        Save
      </button>
    </div>
  </div>
  <div class="flex flex-col w-full h-full">
    <div class="flex flex-col w-full gap-[65px]">
      <div
        class="shadow-md px-6 lg:px-30 w-auto h-25 flex justify-between items-center relative z-40"
        [ngStyle]="{ 'background-color': headerColor }"
      >
        <img class="w-auto h-8" [src]="logo" />
      </div>
      <div class="flex flex-col gap-[26px] px-[96px]">
        <dp-petition-card
          [linkText]="'Read More'"
          [data]="mockPetition"
          [showType]="true"
          [showStatus]="false"
          [showExtraDates]="false"
          [characters]="500"
          [buttonText]="false"
        ></dp-petition-card>
        <div class="flex flex-row justify-end">
          <button
            class="w-full md:w-auto"
            type="button"
            mat-flat-button
            [ngStyle]="{
              'background-color': buttonColor
            }"
          >
            Endorse Now
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
