<div class="flex justify-center w-full">
  <form
    [formGroup]="formGroup"
    (ngSubmit)="submit()"
    class="flex flex-col gap-1"
  >
    <dp-basic-card class="max-w-[562px] w-full gap-6">
      <div class="w-full flex flex-col gap-6">
        <h4 class="font-bold leading-5">
          Please fill out all fields to submit your issue petition to the city.
        </h4>
        <dp-error-msg
          *ngIf="!(loading$ | async) && (error$ | async) as error"
          [error]="error"
        >
        </dp-error-msg>
        <dp-loading-bar *ngIf="loading$ | async"></dp-loading-bar>
        <mat-form-field>
          <mat-label>Petition Title</mat-label>
          <input type="text" matInput formControlName="title" />
          <mat-error>
            <dp-input-error
              [message]="'Petition Title is required'"
            ></dp-input-error>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Petition Text</mat-label>
          <textarea
            matInput
            formControlName="detail"
            class="min-h-[50px] max-h-[150px]"
            (keyup)="autoGrowTextZone($event)"
          ></textarea>
          <mat-error>
            <dp-input-error
              [message]="'Petition Text is required'"
            ></dp-input-error>
          </mat-error>
        </mat-form-field>
      </div>
    </dp-basic-card>
    <div class="flex justify-center w-full gap-[15px]">
      <button type="button" mat-button color="primary" (click)="cancel()">
        Back
      </button>
      <button type="submit" mat-flat-button color="primary" cdkFocusInitial>
        Continue
      </button>
    </div>
  </form>
</div>
