<div class="flex justify-center w-full">
  <form
    [formGroup]="formGroup"
    (ngSubmit)="submit()"
    class="flex flex-col gap-6"
  >
    <dp-basic-card class="max-w-[562px] w-full gap-6">
      <div class="w-full flex flex-col gap-6">
        <h4 class="font-bold leading-5">
          Please fill out all fields to submit your issue petition to the city.
        </h4>
        <dp-error-msg
          *ngIf="!(loading$ | async) && (error$ | async) as error"
          [error]="error"
        >
        </dp-error-msg>
        <dp-loading-bar *ngIf="loading$ | async"></dp-loading-bar>
        <mat-form-field>
          <mat-label>Petition Title</mat-label>
          <input type="text" matInput formControlName="title" />
          <mat-error>
            <div class="flex flex-row items-center">
              <mat-icon
                class="w-[14px] h-[14px]"
                [svgIcon]="'custom_icons:c_close'"
              ></mat-icon>
              <span class="ml-[9px]">Petition Title is required</span>
            </div>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Petition Text</mat-label>
          <textarea matInput formControlName="detail"></textarea>
          <mat-error>
            <div class="flex flex-row items-center">
              <mat-icon
                class="w-[14px] h-[14px]"
                [svgIcon]="'custom_icons:c_close'"
              ></mat-icon>
              <span class="ml-[9px]">Petition Text is required</span>
            </div>
          </mat-error>
        </mat-form-field>
      </div>
    </dp-basic-card>
    <div class="flex justify-center w-full gap-[15px]">
      <button type="button" mat-button color="primary" (click)="cancel()">
        Back
      </button>
      <button type="submit" mat-flat-button color="primary" cdkFocusInitial>
        Continue
      </button>
    </div>
  </form>
</div>
