<div class="flex justify-center w-full">
  <form
    [formGroup]="formGroup"
    (ngSubmit)="submit()"
    class="flex flex-col gap-6"
  >
    <dp-basic-card class="max-w-[562px] w-full gap-6">
      <div class="w-full flex flex-col gap-6">
        <dp-error-msg
          *ngIf="!(loading$ | async) && (error$ | async) as error"
          [error]="error"
        >
        </dp-error-msg>
        <dp-loading-bar *ngIf="loading$ | async"></dp-loading-bar>

        <mat-form-field appearance="fill">
          <mat-label>Office</mat-label>
          <mat-select formControlName="office">
            <mat-option>--</mat-option>
            <mat-option *ngFor="let office of offices" [value]="office">{{
              office
            }}</mat-option>
          </mat-select>
          <mat-error *ngIf="this.formGroup.get('office')?.errors?.['required']">
            <dp-input-error [message]="'Office required'"></dp-input-error>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Political Party</mat-label>
          <mat-select formControlName="party">
            <mat-option>--</mat-option>
            <mat-option *ngFor="let party of parties" [value]="party">{{
              party
            }}</mat-option>
          </mat-select>
          <mat-error *ngIf="this.formGroup.get('party')?.errors?.['required']">
            <dp-input-error
              [message]="'Political Party is required'"
            ></dp-input-error>
          </mat-error>
        </mat-form-field>
        <h4 class="font-bold leading-5">
          Please provide a full address for the candidate being submitted.
        </h4>
        <mat-form-field>
          <mat-label>Address</mat-label>
          <input type="text" matInput formControlName="address" />
          <mat-error
            *ngIf="this.formGroup.get('address')?.errors?.['required']"
          >
            <dp-input-error [message]="'Address is required'"></dp-input-error>
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Apt, Suite, Etc.</mat-label>
          <input type="text" matInput formControlName="aptNumber" />
          <mat-error
            *ngIf="this.formGroup.get('aptNumber')?.errors?.['required']"
          >
            <dp-input-error
              [message]="'Apt, Suite, Etc. is required'"
            ></dp-input-error>
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>City</mat-label>
          <input type="text" matInput formControlName="city" />
          <mat-error *ngIf="this.formGroup.get('city')?.errors?.['required']">
            <dp-input-error [message]="'City is required'"></dp-input-error>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>State</mat-label>
          <mat-select formControlName="state">
            <mat-option>--</mat-option>
            <mat-option
              *ngFor="let state of localStates"
              [value]="state.value"
              >{{ state.name }}</mat-option
            >
          </mat-select>
          <mat-error *ngIf="this.formGroup.get('state')?.errors?.['required']">
            <dp-input-error [message]="'State is required'"></dp-input-error>
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Zip Code</mat-label>
          <input type="text" matInput formControlName="zipCode" />
          <mat-error
            *ngIf="this.formGroup.get('zipCode')?.errors?.['required']"
          >
            <dp-input-error [message]="'Zip Code is required'"></dp-input-error>
          </mat-error>
        </mat-form-field>
      </div>
    </dp-basic-card>
    <div class="flex justify-end w-full gap-[15px]">
      <button type="button" mat-button color="primary" (click)="cancel()">
        Cancel
      </button>
      <button type="submit" mat-flat-button color="primary" cdkFocusInitial>
        Submit
      </button>
    </div>
  </form>
</div>
