<div class="flex justify-center w-full py-12">
  <div class="flex flex-col max-w-[1197px] w-full gap-4">
    <div class="flex flex-row justify-between w-full max-w-[791px]">
      <dp-return-link
        [route]="'/committee/home'"
        [text]="'Back to Home'"
      ></dp-return-link>
      <div
        class="flex flex-row justify-center gap-4"
        *ngIf="!(loading$ | async)"
      >
        <div [class]="StatusStyleCurrent">
          <p
            class="text-[14px] leading-[18px] font-bold text-[#FFFFFF] cursor-default"
          >
            {{ status }}
          </p>
        </div>
        <button
          mat-button
          color="primary"
          [disabled]="!(status === 'Awaiting Approval')"
        >
          Edit
        </button>
        <button mat-flat-button color="primary" (click)="submit()">
          Withdrawl
        </button>
      </div>
    </div>
    <ng-container [ngSwitch]="currentStep$ | async">
      <ng-container *ngSwitchCase="'loading'">
        <div class="flex justify-center w-full">
          <h3 class="leading-7 font-extrabold">Loading</h3>
        </div>

        <mat-progress-bar
          mode="indeterminate"
          color="primary"
        ></mat-progress-bar>
      </ng-container>
      <ng-container class="flex" *ngSwitchCase="'error'">
        <div class="flex justify-center w-full">
          <h3 class="leading-7 font-extrabold">An error has occurred</h3>
        </div>

        <div class="flex flex-row items-center justify-center">
          <mat-icon
            class="w-[14px] h-[14px]"
            [svgIcon]="'custom_icons:c_close'"
          ></mat-icon>
          <span class="ml-[9px] text-[#FF3030]">{{ error }}</span>
        </div>
      </ng-container>

      <ng-container class="flex" *ngSwitchCase="'contents'">
        <div
          class="flex flex-col-reverse md:flex-row justify-center gap-6 mt-4"
        >
          <div class="flex flex-col gap-5 max-w-[791px] w-full">
            <dp-petition-view [data]="resultData"></dp-petition-view>
          </div>
          <div class="max-w-[386px] w-full h-fit">
            <dp-current-result [data]="resultData"></dp-current-result>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>
