<div class="flex justify-center w-full py-12">
  <div class="flex flex-col max-w-[1197px] w-full gap-4">
    <div class="flex flex-col md:flex-row justify-between w-full max-w-[791px]">
      <dp-return-link
        [route]="'/committee/home'"
        [text]="'Back to Home'"
      ></dp-return-link>
      <ng-container *ngIf="success$ | async">
        <div
          class="flex flex-col md:flex-row justify-center gap-4"
          *ngIf="petition"
        >
          <div [class]="StatusStyleCurrent">
            <p
              class="text-[14px] leading-[18px] font-bold text-[#FFFFFF] cursor-default"
            >
              {{ petition.status | petitionStatus }}
            </p>
          </div>
          <button
            mat-button
            color="primary"
            [disabled]="!(petition.status === 'NEW')"
            [routerLink]="
              '/committee/edit-petition/' +
              _activatedRoute.snapshot.params['id']
            "
          >
            Edit
          </button>
          <button mat-flat-button color="primary" (click)="submit()">
            Withdrawl
          </button>
        </div></ng-container
      >
    </div>

    <dp-error-msg
      *ngIf="!(loading$ | async) && (error$ | async) as error"
      [error]="error"
    >
    </dp-error-msg>
    <dp-loading-bar *ngIf="loading$ | async"></dp-loading-bar>

    <ng-container class="flex" *ngIf="success$ | async as resultData">
      <div class="flex flex-col-reverse md:flex-row justify-center gap-6 mt-4">
        <div class="flex flex-col gap-5 max-w-[791px] w-full">
          <dp-petition-view [data]="resultData"></dp-petition-view>
        </div>
        <div class="max-w-[386px] w-full h-fit">
          <dp-current-result [data]="resultData"></dp-current-result>
        </div>
      </div>
    </ng-container>
  </div>
</div>
