<div class="w-full flex justify-center">
  <div class="flex flex-col max-w-[424px] w-full gap-4">
    <h1 class="px-6 py-2 font-extrabold">Petition Creators</h1>

    <form [formGroup]="formGroup" (ngSubmit)="submit()">
      <dp-basic-card class="w-full">
        <div class="w-full flex justify-start">
          <h4 class="font-bold text-lg leading-6">Set New Password</h4>
        </div>
        <div class="grid grid-cols-1 gap-4">
          <ng-container *ngIf="!(loading$ | async)">
            <dp-error-msg *ngIf="error$ | async as error" [error]="error">
            </dp-error-msg>
          </ng-container>
          <dp-loading-bar *ngIf="loading$ | async"></dp-loading-bar>
          <mat-form-field>
            <mat-label>Code</mat-label>
            <input type="text" matInput formControlName="code" />
            <mat-error *ngIf="this.formGroup.get('code')?.errors?.['required']">
              <dp-input-error [message]="'Code is required'"></dp-input-error>
            </mat-error>
            <mat-hint>The code that you have received by email</mat-hint>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Password</mat-label>
            <input
              matInput
              [type]="password ? 'password' : 'text'"
              formControlName="newPassword"
            />
            <button
              type="button"
              matSuffix
              mat-icon-button
              (click)="password = !password"
            >
              <mat-icon
                [svgIcon]="
                  password ? 'custom_icons:edge' : 'custom_icons:no-edge'
                "
              ></mat-icon>
            </button>
            <mat-error
              *ngIf="this.formGroup.get('newPassword')?.errors?.['required']"
            >
              <dp-input-error
                [message]="'Password is required'"
              ></dp-input-error>
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Confirm Password</mat-label>
            <input
              matInput
              [type]="hideConfirmPassword ? 'password' : 'text'"
              formControlName="confirmPassword"
            />
            <button
              type="button"
              matSuffix
              mat-icon-button
              (click)="hideConfirmPassword = !hideConfirmPassword"
            >
              <mat-icon
                [svgIcon]="
                  hideConfirmPassword
                    ? 'custom_icons:edge'
                    : 'custom_icons:no-edge'
                "
              ></mat-icon>
            </button>
            <mat-error
              *ngIf="this.formGroup.get('confirmPassword')?.errors?.['required']"
            >
              <dp-input-error
                [message]="'Password is required'"
              ></dp-input-error>
            </mat-error>
          </mat-form-field>

          <button
            [disabled]="loading$ | async"
            mat-flat-button
            type="submit"
            class="h-10 w-full mt-2"
            color="primary"
          >
            Reset Password
          </button>
        </div>
      </dp-basic-card>
    </form>

    <div class="w-full flex justify-center">
      <dp-return-link
        [route]="'/auth/login'"
        [text]="'Back to Login'"
      ></dp-return-link>
    </div>
  </div>
</div>
