<div class="w-full flex justify-center">
  <div class="flex flex-col max-w-[424px] w-full gap-4">
    <h1 class="px-6 py-2 font-extrabold">Petition Creators</h1>
    <mat-progress-bar
      mode="indeterminate"
      color="primary"
      *ngIf="loading$ | async"
    ></mat-progress-bar>
    <ng-container *ngIf="!trueResponseForm">
      <ng-container *ngIf="result$ | async as result">
        <dp-form
          *ngIf="result.result"
          (event)="setResponseForm($event)"
        ></dp-form>

        <dp-confirm
          *ngIf="result.error as error"
          [title]="'Error'"
          [text]="error"
        ></dp-confirm>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="trueResponseForm">
      <dp-confirm
        [title]="'Password Reset'"
        [text]="
          'Your password has been successfully reset. Click continue to login.'
        "
      ></dp-confirm>
    </ng-container>
    <!--
    <dp-confirm
      [title]="'Password Reset'"
      [text]="
        'Your password has been successfully reset. Click continue to login.'
      "
    ></dp-confirm>
  -->
    <div class="w-full flex justify-center">
      <dp-return-link
        [route]="'/login'"
        [text]="'Back to Login'"
      ></dp-return-link>
    </div>
  </div>
</div>
