<dp-basic-card *ngIf="data.dataIssue as issue">
  <div class="flex flex-col gap-5">
    <div *ngIf="showStatus" [class]="StatusStyleCurrent">
      <p>{{ issue.status | petitionStatus }}</p>
    </div>
    <h3 class="flex leading-7 font-extrabold">{{ issue.title }}</h3>
    <div class="flex flex-row justify-between">
      <div class="flex flex-row gap-[3px] items-center">
        <mat-icon
          class="w-[16px] h-[16px]"
          [svgIcon]="'custom_icons:bullet'"
        ></mat-icon>
        <p class="text-[#5C5C5C] font-normal text-sm leading-[14px]">
          {{ issue.type | petitionType }}
        </p>
      </div>
    </div>
    <p>
      {{ issue.detail }}
    </p>
  </div>
</dp-basic-card>
<dp-basic-card *ngIf="data.dataCandidate as candidate">
  <div class="flex flex-col gap-5">
    <div *ngIf="showStatus" [class]="StatusStyleCurrent">
      <p>{{ candidate.status | petitionStatus }}</p>
    </div>
    <h3 class="flex leading-7 font-extrabold">{{ candidate.name }}</h3>
    <h4 class="leading-5 font-bold">
      {{ candidate.office + " - " + candidate.party }}
    </h4>
    <div class="flex flex-row justify-between">
      <div class="flex flex-row gap-[3px] items-center">
        <mat-icon
          class="w-[16px] h-[16px]"
          [svgIcon]="'custom_icons:bullet'"
        ></mat-icon>
        <p class="text-[#5C5C5C] font-normal text-sm leading-[14px]">
          {{ candidate.type | petitionType }}
        </p>
      </div>
    </div>
    <p>
      <span>Address: {{ candidate.address.address }}</span
      ><br />
      <span *ngIf="candidate.address.number as number"
        >Number: {{ number }}</span
      ><br />
      <span *ngIf="candidate.address.city as city">City: {{ city }}</span
      ><br />
      <span>State: {{ candidate.address.state }}</span
      ><br />
      <span *ngIf="candidate.address.zipCode as code">Zip Code: {{ code }}</span
      ><br />
    </p>
  </div>
</dp-basic-card>
