<dp-basic-alert>
  <span modal-title>Do you want to approve this petition?</span>
  <span modal-body class="w-full flex flex-col gap-6">
    <div class="flex flex-col w-full gap-4">
      <button
        mat-flat-button
        type="button"
        class="h-10 w-full mt-2"
        color="primary"
        [mat-dialog-close]="true"
      >
        Approve
      </button>
      <button
        mat-button
        type="button"
        class="h-10 w-full mt-2"
        color="primary"
        cdkFocusInitial
        [mat-dialog-close]="false"
      >
        Cancel
      </button>
    </div>
  </span>
</dp-basic-alert>
