<div class="flex flex-col w-full gap-2">
  <div class="flex flex-col md:flex-row md:justify-start md:items-end w-full">
    <h2 class="font-extrabold">Welcome, {{ currentUser }}</h2>
  </div>
  <div
    class="flex flex-col md:flex-row md:justify-between w-full gap-4 py-4 border-b-1 border-[#EDEDED]"
  >
    <dp-basic-search-engine
      (event)="search($event)"
      [disabled]="!!(loading$ | async)"
      class="w-full min-w-[100px]"
    ></dp-basic-search-engine>
    <dp-filter-by-category
      class="w-full md:max-w-[250px] md:min-w-[150px]"
      [filterName]="'Filter by Category'"
      [filterType]="filterByCategory"
      [disabled]="!!(loading$ | async)"
      [mode]="'Select'"
      (event)="filterCategory($event)"
    ></dp-filter-by-category>
    <dp-filter-by-status
      class="w-full md:max-w-[250px] md:min-w-[150px]"
      [filterName]="'Filter by Status'"
      [filterStatus]="filterByStatus"
      [disabled]="!!(loading$ | async)"
      [mode]="'Select'"
      (event)="filterStatus($event)"
    ></dp-filter-by-status>
  </div>
  <div class="flex p-2">
    <p class="text-lg leading-6 font-bold">Active Petitions In the City</p>
  </div>

  <dp-error-msg
    *ngIf="!(loading$ | async) && (error$ | async) as error"
    [error]="error"
  >
  </dp-error-msg>
  <dp-loading-bar *ngIf="(loading$ | async) && loadingUp"></dp-loading-bar>
  <ng-container *ngIf="successPetition$ | async as petitions">
    <dp-petition-card
      [buttonText]="'View Petition'"
      [linkText]="'Read More'"
      *ngFor="let item of petitions.items"
      [data]="item"
      [disabled]="!!(loading$ | async)"
      [showType]="true"
      [showStatus]="true"
      [showExtraDates]="true"
      [characters]="250"
      [basicRoute]="'/city-staff/home/'"
    ></dp-petition-card>

    <div
      class="flex justify-center w-full"
      *ngIf="petitions.items.length === 0"
    >
      <h3 class="leading-7 font-extrabold">You still have no petitions</h3>
    </div>

    <dp-loading-bar *ngIf="(loading$ | async) && loadingDown"></dp-loading-bar>

    <button
      mat-button
      color="primary"
      class="mb-2"
      (click)="pageNumber()"
      [disabled]="!!(loading$ | async)"
      *ngIf="petitions.cursor; else spacer"
    >
      See More
    </button>

    <ng-template #spacer>
      <span class="w-full h-1 min-h-full"></span>
    </ng-template>
  </ng-container>
</div>
