<div class="flex justify-center w-full">
  <div class="flex justify-center max-w-[1192px] w-full">
    <div
      class="hidden md:flex md:justify-center md:max-w-[200px] md:w-full"
    ></div>
    <div class="flex flex-col max-w-[792px] w-full gap-6">
      <div class="flex flex-row gap-4 justify-start">
        <dp-return-link
          [route]="'/home'"
          [text]="'Back to Home'"
        ></dp-return-link>
      </div>
    </div>
    <div
      class="hidden md:flex md:justify-center md:max-w-[200px] md:w-full"
    ></div>
  </div>
</div>
<div class="flex justify-center py-[65px] w-full">
  <div class="flex justify-center max-w-[1192px] w-full">
    <div
      class="hidden md:flex md:justify-center md:max-w-[200px] md:w-full"
    ></div>
    <div class="flex flex-col max-w-[792px] w-full gap-6">
      <h1 class="font-extrabold">Inactive Petitions</h1>
      <div class="flex flex-col w-full gap-4 md:hidden">
        <dp-filter-by-category
          class="w-full"
          [filterName]="'Filter by Category'"
          [filterType]="filterByCategory"
          [disabled]="!!(loading$ | async) || items.length === 0 || !items"
          (event)="filterCategory($event)"
        ></dp-filter-by-category>
        <dp-filter-by-status
          class="w-full"
          [filterName]="'Filter by Status'"
          [filterStatus]="filterByStatus"
          [disabled]="!!(loading$ | async) || items.length === 0 || !items"
          (event)="filterStatus($event)"
        ></dp-filter-by-status>
      </div>
      <dp-error-msg
        *ngIf="!(loading$ | async) && (error$ | async) as error"
        [error]="error"
      >
      </dp-error-msg>
      <dp-loading-bar *ngIf="(loading$ | async) && loadingUp"></dp-loading-bar>
      <ng-container *ngIf="items">
        <dp-petition-card
          [buttonText]="false"
          [linkText]="'Read More'"
          *ngFor="let item of items"
          [data]="item"
          [showStatus]="true"
          [showType]="true"
          [showSignature]="true"
          [basicRoute]="'/inactive-petitions/'"
        ></dp-petition-card>

        <div
          class="flex justify-center w-full"
          *ngIf="(items.length === 0 || !items) && !(loading$ | async)"
        >
          <h3 class="leading-7 font-extrabold">No requests to display here</h3>
        </div>

        <button
          mat-button
          color="primary"
          (click)="pageNumber()"
          [disabled]="!!(loading$ | async) && (items.length === 0 || !items)"
          *ngIf="cursor && items.length > 0"
        >
          See More
        </button>
      </ng-container>
    </div>
    <div class="hidden md:flex md:flex-col md:max-w-[200px] md:w-full md:gap-8">
      <dp-filter-by-category
        [filterName]="'Filter by Category'"
        [filterType]="filterByCategory"
        [disabled]="!!(loading$ | async) || items.length === 0 || !items"
        (event)="filterCategory($event)"
      ></dp-filter-by-category>
      <dp-filter-by-status
        [filterName]="'Filter by Status'"
        [filterStatus]="filterByStatus"
        [disabled]="!!(loading$ | async) || items.length === 0 || !items"
        (event)="filterStatus($event)"
      ></dp-filter-by-status>
    </div>
  </div>
</div>
