<form
  class="grid grid-cols-1 gap-1"
  [formGroup]="formGroup"
  (ngSubmit)="submit()"
>
  <div class="w-full flex flex-col justify-end">
    <div class="grid grid-cols-1 gap-[24px]">
      <mat-form-field>
        <mat-label>New password</mat-label>
        <input
          matInput
          [type]="hidePassword ? 'password' : 'text'"
          formControlName="password"
        />
        <mat-error>
          <dp-input-error [message]="'Password is required'"></dp-input-error>
        </mat-error>
        <button
          type="button"
          matSuffix
          mat-icon-button
          (click)="hidePassword = !hidePassword"
        >
          <mat-icon
            [svgIcon]="
              hidePassword ? 'custom_icons:edge' : 'custom_icons:no-edge'
            "
          ></mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field>
        <mat-label>First Name</mat-label>
        <input type="text" matInput formControlName="firstName" />
        <mat-error
          *ngIf="this.formGroup.get('firstName')?.errors?.['required']"
        >
          <dp-input-error [message]="'First Name is required'"></dp-input-error>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Last Name</mat-label>
        <input type="text" matInput formControlName="lastName" />
        <mat-error *ngIf="this.formGroup.get('lastName')?.errors?.['required']">
          <dp-input-error [message]="'Last Name is required'"></dp-input-error>
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <button
    mat-flat-button
    type="submit"
    class="h-10 w-full mt-2"
    color="primary"
    [disabled]="loading"
  >
    Continue
  </button>
</form>
