<form
  class="grid grid-cols-1 gap-[16px]"
  [formGroup]="formGroup"
  (ngSubmit)="submit()"
>
  <div class="w-full flex flex-col justify-end">
    <mat-form-field>
      <mat-label>New password</mat-label>
      <input
        matInput
        [type]="hidePassword ? 'password' : 'text'"
        formControlName="password"
      />
      <!-- *ngIf="formGroup.get('password')!.getError('required')" -->
      <mat-error>
        <div class="flex flex-row items-center">
          <mat-icon [svgIcon]="'custom_icons:c_close'"></mat-icon>
          <span class="ml-[9px]">Password is required</span>
        </div>
      </mat-error>
      <button
        type="button"
        matSuffix
        mat-icon-button
        (click)="hidePassword = !hidePassword"
      >
        <mat-icon
          [svgIcon]="
            hidePassword ? 'custom_icons:edge' : 'custom_icons:no-edge'
          "
        ></mat-icon>
      </button>
    </mat-form-field>
  </div>
  <button
    mat-flat-button
    type="submit"
    class="h-10 w-full mt-2"
    color="primary"
    [disabled]="loading"
  >
    Change
  </button>
</form>
