<div class="flex flex-col w-full gap-[10px] md:gap-6">
  <dp-view-signatures-alert
    class="flex w-full justify-center"
    [data]="{ type: typeAlert, message: messageAlert }"
  ></dp-view-signatures-alert>

  <div
    class="flex flex-col w-full gap-[43px]"
    *ngIf="successPetition$ | async as resultData"
  >
    <dp-return-link
      class="w-fit"
      [route]="
        returnRoute + (resultData.dataCandidate?.PK || resultData.dataIssue?.PK)
      "
      [text]="'Back to Petition List'"
    ></dp-return-link>
    <h3 class="font-bold leading-7">
      {{ resultData.dataCandidate?.name ?? resultData.dataIssue?.title }}
    </h3>
  </div>
  <div class="flex flex-col md:flex-row md:justify-end w-full">
    <dp-filter-by-status
      class="w-full md:max-w-[250px] md:min-w-[150px]"
      [filterName]="'Filter by Status'"
      [disabled]="disabledFilter"
      [mode]="'Select'"
      [filterStatus]="filterByStatus"
      (event)="filterStatus($event)"
    ></dp-filter-by-status>
  </div>

  <div
    class="flex flex-col-reverse md:flex-row md:justify-between w-full gap-[10px]"
  >
    <div class="flex flex-col md:flex-row gap-[10px] items-center">
      <div
        class="flex border border-[#D7D7D7] rounded-lg bg-[#FFFFFF] px-2 justify-center items-center w-fit min-h-[50px] min-w-[150px]"
      >
        <mat-checkbox
          color="primary"
          class="flex flex-row items-center"
          [checked]="showing100"
          (change)="show100()"
          ><p class="text-xs font-bold">Showing 100</p></mat-checkbox
        >
      </div>
      <div
        *ngIf="signaturesSelected.length > 0"
        class="flex flex-row gap-[10px] w-full justify-center"
      >
        <button
          type="button"
          mat-flat-button
          color="primary"
          (click)="approve()"
        >
          Approve
        </button>
        <button type="button" mat-button color="primary" (click)="deny()">
          Deny
        </button>
      </div>
    </div>
    <div class="flex flex-col md:flex-row gap-[10px] max-w-[439px] w-full">
      <dp-basic-search-engine
        [disabled]="disabledFilter"
        class="w-full min-w-[100px]"
      ></dp-basic-search-engine>
      <dp-sort-signatures
        class="w-full md:max-w-[125px] md:min-w-[100px]"
        [filterName]="'Sort by'"
        [elements]="sortBy"
        [disabled]="disabledFilter"
        (event)="sort($event)"
      ></dp-sort-signatures>
    </div>
  </div>
  <dp-loading-bar
    [title]="
      (loadingGetSignatures$ | async)
        ? 'Waiting for signatures '
        : (loadingApprove$ | async)
        ? 'Approving signatures'
        : (loadingDeny$ | async)
        ? 'Denying signatures'
        : ''
    "
    *ngIf="
      (loadingGetSignatures$ | async) ||
      (loadingApprove$ | async) ||
      (loadingDeny$ | async)
    "
  ></dp-loading-bar>
  <dp-error-msg
    *ngIf="
      error &&
      !(
        (loadingGetSignatures$ | async) ||
        (loadingApprove$ | async) ||
        (loadingDeny$ | async)
      ) &&
      signaturesSelected.length > 0
    "
    [error]="error"
  ></dp-error-msg>
  <dp-view-signatures-table
    [dataSource]="items"
    (emitSignaturesSelected)="setSignaturesSelected($event)"
    class="overflow-x-auto mb-4"
  ></dp-view-signatures-table>
</div>
