<form [formGroup]="formGroup" (ngSubmit)="submit()">
  <dp-basic-card class="w-full">
    <div class="w-full flex justify-start">
      <h4 class="font-bold text-lg leading-6">Set New Password</h4>
    </div>

    <div class="grid grid-cols-1 gap-4">
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input
          matInput
          [type]="password ? 'password' : 'text'"
          formControlName="newPassword"
        />
        <button
          type="button"
          matSuffix
          mat-icon-button
          (click)="password = !password"
        >
          <mat-icon
            [svgIcon]="password ? 'custom_icons:edge' : 'custom_icons:no-edge'"
          ></mat-icon>
        </button>
        <mat-error
          *ngIf="this.formGroup.get('newPassword')?.errors?.['required']"
        >
          <div class="flex flex-row items-center">
            <mat-icon [svgIcon]="'custom_icons:c_close'"></mat-icon>
            <span class="ml-[9px]">Password is required</span>
          </div>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Confirm Password</mat-label>
        <input
          matInput
          [type]="hideConfirmPassword ? 'password' : 'text'"
          formControlName="confirmPassword"
        />
        <button
          type="button"
          matSuffix
          mat-icon-button
          (click)="hideConfirmPassword = !hideConfirmPassword"
        >
          <mat-icon
            [svgIcon]="
              hideConfirmPassword ? 'custom_icons:edge' : 'custom_icons:no-edge'
            "
          ></mat-icon>
        </button>
        <mat-error
          *ngIf="this.formGroup.get('confirmPassword')?.errors?.['required']"
        >
          <div class="flex flex-row items-center">
            <mat-icon [svgIcon]="'custom_icons:c_close'"></mat-icon>
            <span class="ml-[9px]">Password is required</span>
          </div>
        </mat-error>
      </mat-form-field>

      <button
        mat-flat-button
        type="submit"
        class="h-10 w-full mt-2"
        color="primary"
      >
        Reset Password
      </button>
    </div>
  </dp-basic-card>
</form>
