<dp-basic-modal (event)="submit()">
  <span modal-title>Change Email</span>
  <span modal-body class="w-full flex flex-col gap-6">
    <form [formGroup]="formGroup" class="w-full grid grid-cols-1 gap-6">
      <mat-progress-bar
        mode="indeterminate"
        color="primary"
        *ngIf="loading$ | async"
      ></mat-progress-bar>
      <mat-form-field>
        <mat-label>Enter New Email Address</mat-label>
        <input type="text" matInput formControlName="email" />
        <mat-error *ngIf="this.formGroup.get('email')?.errors?.['required']">
          <div class="flex flex-row items-center">
            <mat-icon
              class="w-[14px] h-[14px]"
              [svgIcon]="'custom_icons:c_close'"
            ></mat-icon>
            <span class="ml-[9px]">Email is required</span>
          </div>
        </mat-error>
        <mat-error *ngIf="this.formGroup.get('email')?.errors?.['email']">
          <div class="flex flex-row items-center">
            <mat-icon
              class="w-[14px] h-[14px]"
              [svgIcon]="'custom_icons:c_close'"
            ></mat-icon>
            <span class="ml-[9px]">Email is incorrect</span>
          </div>
        </mat-error>
      </mat-form-field>
    </form>
  </span>
  <ng-container modal-footer>Proceed</ng-container>
</dp-basic-modal>
