<dp-basic-card>
  <div class="flex flex-col gap-6">
    <div class="flex flex-row justify-between">
      <div class="flex flex-row gap-[3px] items-center" *ngIf="type">
        <mat-icon
          class="w-[16px] h-[16px]"
          [svgIcon]="'custom_icons:bullet'"
        ></mat-icon>
        <p class="text-[#5C5C5C] font-normal text-sm leading-[14px]">
          {{ type }}
        </p>
      </div>
      <div [class]="StatusStyleCurrent" *ngIf="status">
        <p class="font-normal text-sm leading-[18px]">
          {{ status }}
        </p>
      </div>
    </div>
    <h3 class="flex leading-7 font-extrabold" [routerLink]="basicRoute + id">
      {{ title }}
    </h3>
    <h4 class="leading-5 font-bold" *ngIf="subtitle">{{ subtitle }}</h4>
    <p>
      {{ text | cut: characters }}
      <span
        *ngIf="showMoreOption"
        class="block font-bold text-primary-500 cursor-pointer"
        (click)="showMore()"
        >{{ linkText }}</span
      >
    </p>
    <div class="flex flex-col w-full gap-2" *ngIf="totalSign">
      <mat-progress-bar
        color="primary"
        [value]="percent"
        [bufferValue]="totalSign"
      ></mat-progress-bar>
      <p class="text-[14px] leading-[18px] font-bold">
        23,000 / 25,000 Signatures Subminted
      </p>
    </div>
    <div *ngIf="buttonText" class="flex flex-row justify-end">
      <button
        class="w-full md:w-auto"
        type="submit"
        mat-flat-button
        color="primary"
        [routerLink]="basicRoute + id"
      >
        {{ buttonText }}
      </button>
    </div>
  </div>
</dp-basic-card>
