<!--ISSUE-->
<dp-basic-card *ngIf="data.dataIssue as issue">
  <div class="flex flex-col gap-5">
    <div class="flex flex-row justify-between">
      <div class="flex flex-row gap-[3px] items-center" *ngIf="showType">
        <mat-icon
          class="w-[16px] h-[16px]"
          [svgIcon]="'custom_icons:bullet'"
        ></mat-icon>
        <p class="text-[#5C5C5C] font-normal text-sm leading-[14px]">
          {{ issue.type | petitionType }}
        </p>
      </div>
      <div [class]="StatusStyleCurrent" *ngIf="showStatus">
        <p class="font-normal text-sm leading-[18px]">
          {{ issue.status | petitionStatus }}
        </p>
      </div>
    </div>
    <h3 *ngIf="disabled; else titleLink" class="flex leading-7 font-extrabold">
      {{ issue.title }}
    </h3>
    <ng-template #titleLink
      ><h3
        class="flex leading-7 font-extrabold cursor-pointer"
        [routerLink]="disabled ? null : basicRoute + issue.PK"
      >
        {{ issue.title }}
      </h3></ng-template
    >
    <p>
      {{ issue.detail | cut: characters }}
      <span
        *ngIf="showMoreOption"
        class="block font-bold text-primary-500 cursor-pointer"
        (click)="showMore()"
        >{{ linkText }}</span
      >
    </p>
    <ng-container *ngIf="issue.signatureSummary as signature"
      ><div class="flex flex-col w-full gap-2" *ngIf="showSignature">
        <mat-progress-bar
          color="primary"
          [value]="(signature.approved / signature.required) * 100"
          [bufferValue]="signature.required"
        ></mat-progress-bar>
        <p class="text-[14px] leading-[18px] font-bold">
          {{ signature.approved }} / {{ signature.required }} Signatures
          Subminted
        </p>
      </div>
    </ng-container>

    <div class="flex flex-col w-full gap-2" *ngIf="showExtraDates">
      <p class="text-sm leading-[18px]">
        <b>Date Submitted:</b> {{ issue.createdAt }}
      </p>
    </div>

    <div *ngIf="buttonText" class="flex flex-row justify-end">
      <button
        class="w-full md:w-auto"
        type="submit"
        mat-flat-button
        color="primary"
        [routerLink]="basicRoute + issue.PK"
        [disabled]="disabled"
      >
        {{ buttonText }}
      </button>
    </div>
  </div>
</dp-basic-card>
<!--CANDIDATE-->
<dp-basic-card *ngIf="data.dataCandidate as candidate">
  <div class="flex flex-col gap-5">
    <div class="flex flex-row justify-between">
      <div class="flex flex-row gap-[3px] items-center" *ngIf="showType">
        <mat-icon
          class="w-[16px] h-[16px]"
          [svgIcon]="'custom_icons:bullet'"
        ></mat-icon>
        <p class="text-[#5C5C5C] font-normal text-sm leading-[14px]">
          {{ candidate.type | petitionType }}
        </p>
      </div>
      <div [class]="StatusStyleCurrent" *ngIf="showStatus">
        <p class="font-normal text-sm leading-[18px]">
          {{ candidate.status | petitionStatus }}
        </p>
      </div>
    </div>
    <h3 *ngIf="disabled; else titleLink" class="flex leading-7 font-extrabold">
      {{ candidate.name }}
    </h3>
    <ng-template #titleLink
      ><h3
        class="flex leading-7 font-extrabold cursor-pointer"
        [routerLink]="disabled ? null : basicRoute + candidate.PK"
      >
        {{ candidate.name }}
      </h3></ng-template
    >
    <h4 class="flex leading-5 font-bold">
      {{ candidate.office }} - {{ candidate.party }}
    </h4>
    <p>
      <span><b>Address:</b> {{ candidate.address.address }}</span
      ><br />
      <span *ngIf="candidate.address.number as number"
        ><b>Number:</b> {{ number }}</span
      ><br />
      <span *ngIf="candidate.address.city as city"><b>City: </b>{{ city }}</span
      ><br />
      <span><b>State:</b> {{ candidate.address.state }}</span
      ><br />
      <span *ngIf="candidate.address.zipCode as code"
        ><b>Zip Code:</b> {{ code }}</span
      ><br />
    </p>
    <ng-container *ngIf="candidate.signatureSummary as signature"
      ><div class="flex flex-col w-full gap-2" *ngIf="showSignature">
        <mat-progress-bar
          color="primary"
          [value]="(signature.approved / signature.required) * 100"
          [bufferValue]="signature.required"
        ></mat-progress-bar>
        <p class="text-[14px] leading-[18px] font-bold">
          {{ signature.approved }} / {{ signature.required }} Signatures
          Subminted
        </p>
      </div></ng-container
    >
    <div class="flex flex-col w-full gap-2" *ngIf="showExtraDates">
      <p class="text-sm leading-[18px]">
        <b>Date Submitted:</b> {{ candidate.createdAt }}
      </p>
    </div>

    <div *ngIf="buttonText" class="flex flex-row justify-end">
      <button
        class="w-full md:w-auto"
        type="submit"
        mat-flat-button
        color="primary"
        [routerLink]="basicRoute + candidate.PK"
        [disabled]="disabled"
      >
        {{ buttonText }}
      </button>
    </div>
  </div>
</dp-basic-card>
