<div class="flex flex-row gap-4 justify-end">
  <p class="font-bold leading-5">Returning User?</p>
  <a class="font-bold leading-5 text-primary-500">Enter Code</a>
</div>
<div class="flex justify-center py-6 w-full">
  <div class="flex justify-center max-w-[1192px] w-full">
    <div
      class="hidden md:flex md:justify-center md:max-w-[200px] md:w-full"
    ></div>
    <div class="flex flex-col max-w-[792px] w-full gap-6">
      <h1 class="font-extrabold">Sign A Petition</h1>
      <dp-basic-filter
        class="md:hidden flex"
        [filterName]="'Filter by Category'"
        [elements]="filterByCategory"
        [disabled]="disabledFilter"
        (event)="filter($event)"
      ></dp-basic-filter>
      <ng-container [ngSwitch]="currentStep$ | async">
        <ng-container *ngSwitchCase="'loadingUp'">
          <div class="flex justify-center w-full">
            <h3 class="leading-7 font-extrabold">Loading</h3>
          </div>

          <mat-progress-bar
            mode="indeterminate"
            color="primary"
          ></mat-progress-bar>
        </ng-container>
      </ng-container>
      <dp-petition-card
        [buttonText]="'Endorse Now'"
        [linkText]="'Read More'"
        *ngFor="let item of resultData"
        [data]="item"
        [disabled]="disabledFilter"
        [basicRoute]="'/home/'"
      ></dp-petition-card>
      <ng-container [ngSwitch]="currentStep$ | async">
        <ng-container *ngSwitchCase="'loading'">
          <div class="flex justify-center w-full">
            <h3 class="leading-7 font-extrabold">Loading</h3>
          </div>

          <mat-progress-bar
            mode="indeterminate"
            color="primary"
          ></mat-progress-bar>
        </ng-container>
        <ng-container class="flex" *ngSwitchCase="'error'">
          <div class="flex justify-center w-full">
            <h3 class="leading-7 font-extrabold">An error has occurred</h3>
          </div>

          <div class="flex flex-row items-center justify-center">
            <mat-icon
              class="w-[14px] h-[14px]"
              [svgIcon]="'custom_icons:c_close'"
            ></mat-icon>
            <span class="ml-[9px] text-[#FF3030]">{{ error }}</span>
          </div>
        </ng-container>
        <ng-container class="flex" *ngSwitchCase="'empty'">
          <div class="flex justify-center w-full">
            <h3 class="leading-7 font-extrabold">
              You still have no petitions
            </h3>
          </div>
        </ng-container>
      </ng-container>
      <button
        mat-button
        color="primary"
        (click)="pageNumber()"
        [disabled]="disabledSeeMore"
      >
        See More
      </button>
      <div class="flex flex-row justify-end">
        <a
          [routerLink]="'/inactive-petitions'"
          class="text-primary-500 font-extrabold text-sm leading-4"
          >View Inactive Petitions</a
        >
      </div>
    </div>
    <div class="hidden md:flex md:justify-center md:max-w-[200px] md:w-full">
      <dp-basic-filter
        [filterName]="'Filter by Category'"
        [elements]="filterByCategory"
        [disabled]="disabledFilter"
        (event)="filter($event)"
      ></dp-basic-filter>
    </div>
  </div>
</div>
