<div class="flex justify-center w-full py-12">
  <div class="flex flex-col max-w-[1197px] w-full gap-4">
    <div class="">
      <dp-return-link
        [route]="'/inactive-petitions'"
        [text]="'Back to Inactive Petitions'"
      ></dp-return-link>
    </div>
    <dp-error-msg
      *ngIf="!(loading$ | async) && (error$ | async) as error"
      [error]="error"
    >
    </dp-error-msg>
    <dp-loading-bar *ngIf="loading$ | async"></dp-loading-bar>
    <div
      class="flex flex-col-reverse md:flex-row justify-center gap-6 mt-4"
      *ngIf="success$ | async as data"
    >
      <div class="flex flex-col gap-5 max-w-[791px] w-full">
        <dp-petition-view [data]="data"></dp-petition-view>
      </div>
      <div class="max-w-[386px] w-full h-fit">
        <dp-status [data]="data"></dp-status>
      </div>
    </div>
  </div>
</div>
