<div class="w-full flex justify-center">
  <div class="flex flex-col max-w-[436px] w-full gap-4">
    <h1 class="px-6 py-2 font-extrabold">Petition Creators</h1>
    <form [formGroup]="formGroup" (ngSubmit)="submit()">
      <dp-basic-card class="w-full">
        <div class="w-full flex justify-start">
          <h4 class="font-bold text-lg leading-6">
            Enter the email that is linked to your account
          </h4>
        </div>
        <dp-error-msg
          *ngIf="!(loading$ | async) && (error$ | async) as error"
          [error]="error"
        >
        </dp-error-msg>
        <dp-loading-bar *ngIf="loading$ | async"></dp-loading-bar>
        <div class="grid grid-cols-1 gap-4">
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input type="text" matInput formControlName="email" />
            <mat-error
              *ngIf="this.formGroup.get('email')?.errors?.['required']"
            >
              <div class="flex flex-row items-center">
                <mat-icon
                  class="w-[14px] h-[14px]"
                  [svgIcon]="'custom_icons:c_close'"
                ></mat-icon>
                <span class="ml-[9px]">Email is required</span>
              </div>
            </mat-error>
            <mat-error *ngIf="this.formGroup.get('email')?.errors?.['email']">
              <div class="flex flex-row items-center">
                <mat-icon
                  class="w-[14px] h-[14px]"
                  [svgIcon]="'custom_icons:c_close'"
                ></mat-icon>
                <span class="ml-[9px]">Email is incorrect</span>
              </div>
            </mat-error>
          </mat-form-field>

          <button
            [disabled]="loading$ | async"
            mat-flat-button
            type="submit"
            class="h-10 w-full mt-2"
            color="primary"
          >
            Reset Password
          </button>
        </div>
      </dp-basic-card>
    </form>
    <div class="w-full flex justify-center">
      <dp-return-link
        [route]="'/auth/login'"
        [text]="'Back to Login'"
      ></dp-return-link>
    </div>
  </div>
</div>
