<div class="w-full flex justify-center">
  <div class="flex flex-col max-w-[432px] w-full">
    <h1 class="p-6 font-extrabold">Petition Creators</h1>
    <form [formGroup]="formGroup" (ngSubmit)="submit()">
      <dp-basic-card class="w-full">
        <div class="w-full flex justify-start">
          <h4 class="font-bold text-lg">Create an account</h4>
        </div>
        <ng-container *ngIf="!(loading$ | async)">
          <ng-container *ngIf="result$ | async as result">
            <div
              *ngIf="result.error as error"
              class="flex flex-row items-center"
            >
              <mat-icon
                class="w-[14px] h-[14px]"
                [svgIcon]="'custom_icons:c_close'"
              ></mat-icon>
              <span class="ml-[9px] text-[#FF3030]">{{ error }}</span>
            </div>
          </ng-container>
        </ng-container>
        <mat-progress-bar
          mode="indeterminate"
          color="primary"
          *ngIf="loading$ | async"
        ></mat-progress-bar>
        <div class="grid grid-cols-1 gap-[16px]">
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input type="text" matInput formControlName="email" />
            <mat-error
              *ngIf="this.formGroup.get('email')?.errors?.['required']"
            >
              <div class="flex flex-row items-center">
                <mat-icon
                  class="w-[14px] h-[14px]"
                  [svgIcon]="'custom_icons:c_close'"
                ></mat-icon>
                <span class="ml-[9px]">Email is required</span>
              </div>
            </mat-error>
            <mat-error *ngIf="this.formGroup.get('email')?.errors?.['email']">
              <div class="flex flex-row items-center">
                <mat-icon
                  class="w-[14px] h-[14px]"
                  [svgIcon]="'custom_icons:c_close'"
                ></mat-icon>
                <span class="ml-[9px]">Email is incorrect</span>
              </div>
            </mat-error>
          </mat-form-field>
          <span class="w-full flex flex-col justify-end">
            <mat-form-field>
              <mat-label>Password</mat-label>
              <input
                matInput
                [type]="hidePassword ? 'password' : 'text'"
                formControlName="password"
              />
              <mat-error
                *ngIf="this.formGroup.get('password')?.errors?.['required']"
              >
                <div class="flex flex-row items-center">
                  <mat-icon [svgIcon]="'custom_icons:c_close'"></mat-icon>
                  <span class="ml-[9px]">Password is required</span>
                </div>
              </mat-error>
              <button
                type="button"
                matSuffix
                mat-icon-button
                (click)="hidePassword = !hidePassword"
              >
                <mat-icon
                  [svgIcon]="
                    hidePassword ? 'custom_icons:edge' : 'custom_icons:no-edge'
                  "
                ></mat-icon>
              </button>
            </mat-form-field>
            <span class="w-full flex justify-end">
              <a [routerLink]="'/forgot-password'"
                ><h4
                  class="font-extrabold text-base tracking-wide text-primary-500"
                >
                  Forgot Password?
                </h4></a
              >
            </span>
          </span>
          <button
            mat-flat-button
            type="submit"
            class="h-10 w-full mt-2"
            color="primary"
            [disabled]="loading$ | async"
          >
            Log In
          </button>
        </div>
      </dp-basic-card>
    </form>
    <div class="my-6 w-full flex flex-row justify-center">
      <h4 class="font-extrabold text-base tracking-wide">
        Don't have an account?
      </h4>
      <a [routerLink]="'/sign-up'"
        ><h4
          class="font-extrabold text-base tracking-wide mx-3 text-primary-500"
        >
          Sign Up
        </h4></a
      >
    </div>
  </div>
</div>
