<dp-basic-modal (event)="onOk()" [id_form]="id_form">
  <span modal-title>Change Password</span>
  <span modal-body class="w-full">
    <form
      [id]="id_form"
      [formGroup]="formGroup"
      class="w-full grid grid-cols-1 gap-6"
    >
      <mat-form-field>
        <mat-label>Enter Current Password</mat-label>
        <input
          matInput
          [type]="hide_old_password ? 'password' : 'text'"
          formControlName="old_password"
        />
        <button
          matSuffix
          mat-icon-button
          (click)="hide_old_password = !hide_old_password"
        >
          <mat-icon
            class="w-[16px] h-[16px]"
            [svgIcon]="
              hide_old_password ? 'custom_icons:edge' : 'custom_icons:no-edge'
            "
          ></mat-icon>
        </button>
        <mat-error
          *ngIf="this.formGroup.get('old_password')?.errors?.['required']"
        >
          <div class="flex flex-row items-center">
            <mat-icon
              class="w-[14px] h-[14px]"
              [svgIcon]="'custom_icons:c_close'"
            ></mat-icon>
            <span class="ml-[9px]">Password is required</span>
          </div>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Enter New Password</mat-label>
        <input
          matInput
          [type]="hide_new_password ? 'password' : 'text'"
          formControlName="new_password"
        />
        <button
          matSuffix
          mat-icon-button
          (click)="hide_new_password = !hide_new_password"
        >
          <mat-icon
            class="w-[16px] h-[16px]"
            [svgIcon]="
              hide_new_password ? 'custom_icons:edge' : 'custom_icons:no-edge'
            "
          ></mat-icon>
        </button>
        <mat-error
          *ngIf="this.formGroup.get('new_password')?.errors?.['required']"
        >
          <div class="flex flex-row items-center">
            <mat-icon
              class="w-[14px] h-[14px]"
              [svgIcon]="'custom_icons:c_close'"
            ></mat-icon>
            <span class="ml-[9px]">Password is required</span>
          </div>
        </mat-error>
      </mat-form-field>
    </form>
  </span>
  <span modal-footer>Save</span>
</dp-basic-modal>
