<div class="w-full flex justify-center">
  <div class="flex flex-col max-w-[412px] w-full">
    <h1 class="p-6 font-extrabold">Petition Portal</h1>
    <form [formGroup]="formGroup" (ngSubmit)="submit()">
      <dp-basic-card class="w-full">
        <div class="w-full flex justify-start">
          <h4 class="font-bold text-lg">Confirm your account</h4>
        </div>

        <dp-error-msg
          *ngIf="!(loading$ | async) && (error$ | async) as error"
          [error]="error"
        >
        </dp-error-msg>

        <dp-loading-bar *ngIf="loading$ | async"></dp-loading-bar>
        <div class="grid grid-cols-1 gap-[16px]">
          <ng-container *ngIf="!(loading$ | async)">
            <p *ngIf="successResend$ | async as msg; else message">
              {{ msg }}
            </p>
            <ng-template #message
              ><p>
                We’ve sent a confirmation code to the new email address. Enter
                the code to confirm your new account
              </p></ng-template
            >
            <p class="text-xs cursor-pointer">
              Your email is: <span class="font-bold">{{ email }}</span>
              <a
                class="text-accent-500"
                [routerLink]="'/auth/return-code-form'"
              >
                change email?</a
              >
            </p>
          </ng-container>

          <mat-form-field>
            <mat-label>Enter Code</mat-label>
            <input type="text" matInput formControlName="code" />
            <mat-error *ngIf="this.formGroup.get('code')?.errors?.['required']">
              <div class="flex flex-row items-center">
                <mat-icon
                  class="w-[14px] h-[14px]"
                  [svgIcon]="'custom_icons:c_close'"
                ></mat-icon>
                <span class="ml-[9px]">Code is required</span>
              </div>
            </mat-error>
          </mat-form-field>
          <p
            class="text-accent-500 font-bold text-xs cursor-pointer"
            (click)="resendCode()"
          >
            Resend Code
          </p>
        </div>
        <div class="md:col-span-2 w-full flex justify-end">
          <button
            type="submit"
            mat-flat-button
            class="h-10 md:max-w-[157px] w-full"
            color="primary"
            [disabled]="loading$ | async"
          >
            Confirm
          </button>
        </div>
      </dp-basic-card>
    </form>
    <div class="my-6 w-full flex flex-col md:flex-row justify-center">
      <div class="w-full md:w-auto flex justify-center">
        <h4 class="font-extrabold text-base tracking-wide">
          Already have an account?
        </h4>
      </div>
      <div class="w-full md:w-auto flex justify-center">
        <a [routerLink]="'/auth/login'"
          ><h4
            class="font-extrabold text-base tracking-wide mx-3 text-primary-500"
          >
            Log In
          </h4></a
        >
      </div>
    </div>
  </div>
</div>
