<div *ngIf="isLoged$ | async" class="h-14 w-14">
  <button mat-button class="menu-button" [matMenuTriggerFor]="user_menu">
    <dp-avatar></dp-avatar>
  </button>
</div>

<mat-menu #user_menu="matMenu">
  <button
    class="hover:bg-primary-500 font-bold text-xs hover:text-on-primary-500"
    mat-menu-item
    [routerLink]="'/committee/account-settings'"
  >
    Account Settings
  </button>
  <button
    (click)="signOut()"
    class="hover:bg-primary-500 font-bold text-xs hover:text-on-primary-500"
    mat-menu-item
  >
    Logout
  </button>
</mat-menu>
